[2011-11-10 11:42] harrigan opened #1 "cannot find redstorm gem when using rbenv"
I followed the instructions in the README, but when I try the examples:

[code]

I get:

[code]

I am using OSX 10.6.8 and JRuby 1.6.5. Specifically, the error is caused by

[code]

So JRuby can't find my installed gems. I am using rbenv (http://github.com/sstephenson/rbenv) so my gems are in a non-standard location. However, should the required gems also be in target/classes? For example, if I:

[2011-11-10 15:43] colinsurprenant commented on #1
I personnally use RVM and I never tested with rbenv... I will give it a try to see if I can reproduce your problem. Let me know if there is anything particular about your environment other than:
- install rbrnv
- install jruby 1.6.5 for rbenv
- intall RedStorm gem
- run RedStorm example

[2011-11-10 16:07] harrigan commented on #1
I installed rbenv, JRuby 1.6.5 and the RedStorm gem on a different machine (Ubuntu 10.04.2 LTS) and I was able to reproduce the problem.

[2011-11-10 17:17] colinsurprenant commented on #1
reproduced the problem on OSX. Working on it!

[2011-11-10 19:02] colinsurprenant commented on #1
ok, found the source of the problem. GEM_HOME is not set by rbenv. I am trying to figure how to work around this in the bootstrap code, in the meanwhile, you can manually set GEM_HOME and it should work. For me this was:

$ export GEM_HOME=~/.rbenv/versions/jruby-1.6.5/lib/ruby/gems/1.8/

please let me know if by setting your GEM_HOME it works for you.

[2011-11-10 19:12] harrigan commented on #1
Yes, setting GEM_HOME fixes the error.

[2011-11-10 20:15] colinsurprenant commented on #1
ok, fixed in v0.1.1. gem will be pushed shortly.

[2011-11-10 20:15] #1 closed, assigned to colinsurprenant

[2011-11-10 20:38] colinsurprenant opened #2 "redstorm examples fails when directory examples already exists"
it actually tries to launch a topology class "examples" because File.exist? return true on "examples".

launching java -cp "/Users/colin/dev/praized/src/internal/redstorm-test/target/classes:/Users/colin/dev/praized/src/internal/redstorm-test/target/dependency/*" redstorm.TopologyLauncher examples
file:/Users/colin/dev/praized/src/internal/redstorm-test/target/dependency/jruby-complete-1.6.5.jar!/

[2011-11-17 07:11] kovacs opened #3 "redstorm install fails when using --verbose flags"
When I run "redstorm install" I get the following error when it gets to the first jruby compile statement:

--> Compiling JRuby
/Users/mkovacs/.rvm/rubies/jruby-1.5.6/lib/ruby/1.8/optparse.rb:1451:in `complete': invalid option: --verbose (OptionParser::InvalidOption)
    from /Users/mkovacs/.rvm/rubies/jruby-1.5.6/lib/ruby/1.8/optparse.rb:1449:in`catch'
    from /Users/mkovacs/.rvm/rubies/jruby-1.

[2011-11-17 14:40] colinsurprenant commented on #3
I haven't tested RedStorm with JRuby versions prior to 1.6. This is certainly a problem with jrubyc not supporting this option. Is there any reason why you don't upgrade your JRuby to 1.6.5?

[2011-11-17 18:34] colinsurprenant commented on #2
fixed in simple_dsl branch, will be included in v0.2.0

[2011-11-17 18:34] #2 closed, assigned to nobody

[2011-11-19 23:48] kovacs commented on #3
Oh dang.. I didn't even notice that! I thought I had the latest version :-) swapped the 5 and 6

[2011-11-19 23:48] #3 closed, assigned to nobody

[2011-11-25 15:51] harrigan opened #4 "Manually emitting tuples"
Suppose I have a a bolt that does not auto-emit. How do I manually emit a tuple using your DSL? For example,

[code]

results in the following error:

[code]

Should the above work? Also, should the DSL have an "emit" keyword seeing as the bolt is already specified as unanchored (by default).

BTW, great work on the DSL.

[2011-11-25 16:12] harrigan commented on #4
Sorry, the error above was being raised by another bolt :-(

unanchored_emit does indeed work.

[2011-11-25 16:12] #4 closed, assigned to nobody

[2011-11-25 17:55] colinsurprenant commented on #4
love these bugs ;)

note that you can alternatively call the "native" Java emit method on the collector if need be using:

[code]

the `config`, `context` and `collector` are exposed in spouts and bolts post-init (post-open & post-prepare in Java).

Thanks,
Colin

[2011-12-09 11:31] stonegao opened #5 "redstorm should support namespaced class definition"
I tried add namespace to word_count_topology.rb in examples/simple/ :

[code]

But after adding namespace, redstorm can't find WordCountTopology anymore. For real projects, we need to use namespace to organize code, so redstorm should support namespaced class definition.

<pre>
stone-laptop:redstorm-try stone$ redstorm local examples/simple/word_count_topology.rb
launching java -cp "/Users/stone/t

[2011-12-09 16:22] stonegao opened #6 "redstorm use absolute path for generated Java proxy classes"
For generated Java proxy classes in target/src/redstorm/ ( TopologyLauncher.java, proxy/{Bolt.java, Spout.java} )

I noticed in the generated source code, it use absolute path, will this cause error when deployed to other machines?

[code]

[2011-12-09 17:02] colinsurprenant commented on #5
Hi Stone,

Yes, it was a design tradeoff. Passing only the filename of the topology class to the launcher & inferring the topology class name from the filename seemed the simplest route but the tradeoff is that the topology class must be visible at the top level. But this is only true with the topology class, other classes like spouts and bolts can be namespaced.

Sooo... I am not sure what would

[2011-12-09 17:20] colinsurprenant commented on #6
Hi Stone,

Good catch. I am not sure about the implications of this, but it doesn't seem to be a problem when deploying a topology on a remote production cluster that do not have these paths...  I will investigate.

[2011-12-09 17:47] stonegao commented on #5
how about pass the Topology with its namespace directly ? Like the following:

[code]

[2011-12-09 20:31] colinsurprenant commented on #5
ok, this is fixed in the topology_namespace branch, just have to add a few specs then I'll merge into master. No usage changes when using the DSL.

[2011-12-09 20:31] #5 closed, assigned to nobody

[2011-12-12 13:06] stonegao opened #7 "(NameError) uninitialized constant Java::BacktypeStorm::Config::CONFIG"
Tried redstorm with other extra gems dependencies (Mongoid, Resque), I start topology using the following command:

`RACK_ENV=development redstorm local lib/redstorm-topology/event_topology.rb`

But it throw uninitialized constant Java::BacktypeStorm::Config::CONFIG error. Also I am using Mac OS X but the JRuby stack trace has some weird lines related with WIN32API:

<pre>
launching java -cp "/Use

[2011-12-12 16:29] colinsurprenant commented on #7
Hi Stone,

I am not sure I understand what you are trying to do here. It seems you are trying to use RedStorm from within Rails? I did not test RedStorm with Rail nor Bundler. Check the RedStorm README for instructions on how to use gems with RedStorm.

I think you should try to keep your RedStorm project separate from Rails. Is there any specific reason for this? Do you need to share Rails code (

[2011-12-12 18:45] colinsurprenant commented on #6
AFAICT looking a the JRuby source code, this filename string is only for information purposes (exceptions, strack trace, etc) so it does not affect the running code, locally of remotely on a production cluster.

[2011-12-12 18:45] #6 closed, assigned to nobody

[2011-12-13 03:17] stonegao commented on #6
Thanks for your findings.

[2011-12-13 03:38] stonegao commented on #7
Hi Colin,

Sorry for the confusion.

I am not using redstorm from within Rails. I setup a sperate project and the aforementioned `boot.rb` is borrowed from a Rails project, because I don't want require libs explicitly in my code.

Finally I figured out the problem: in Gemfile of  the redstorm project, there's one line like following :

`gem "resque", :require => "resque/server"`

And this line cau

[2011-12-13 03:52] colinsurprenant commented on #7
Ok! Sure, making RedStorm work with bundler is on my todo. Btw, using bundler like this will work using the local cluster but will not work on a remote production cluster unless the gems are installed in target/gems. For gem to be available on the remote production servers, they must be packaged into the "production" jar file.

[2011-12-13 03:52] #7 closed, assigned to nobody

[2011-12-13 09:31] stonegao opened #8 "java.io.NotSerializableException when serialize Hash between tasks"
One of the fields in our spout is Hash, but it seems that JRuby's RubyHashEntry is not serializable.

<pre>
1461 [Thread-49] ERROR backtype.storm.util  - Async loop died!
java.io.NotSerializableException: org.jruby.RubyHash$RubyHashEntry
        at java.io.ObjectOutputStream.writeObject0(ObjectOutputStream.java:1164)
        at java.io.ObjectOutputStream.defaultWriteFields(ObjectOutputStream.java:

[2011-12-13 21:58] colinsurprenant commented on #8
right. I wonder how to approach this problem with Ruby objects serialization. Maybe custom serializers?

In the mean time I suggest 3 possible solutions:

1- just directly use a Java Hashmap instead of a Ruby Hash or

2- convert between a Java Hashmap and a Ruby Hash using (this will not support nested hash...)
 javaHashMap = HashMap.new(rubyHash)
 rubyHash = Hash[*javaHashMap.to_a.flatten]

3- se

[2011-12-16 05:12] stonegao commented on #8
Thanks for your suggestions, the use case is the spout get json serialized data from queue, then decode to ruby hash, the size of hashes when serialized in json used in our topology range from 10KB to 100KB, so it's petty big for most of them. They are also nested, according to your suggestions, it seems only approach **3 serialize the Ruby hash yourself to json**  or **custom serializers** can be

[2011-12-16 15:57] colinsurprenant commented on #8
I think passing your hash serialized as a json string should be an acceptable solution without much performance penalty. In the end serialization has to be done one way or another, and if your hash is already serialized as a string, it should be pretty mush a passthrough.

[2011-12-17 15:15] iconara opened #9 "How do I run in 1.9 mode?"
I can't find a way to run my code in 1.9 mode, I only get 1.8.7. Setting `JRUBY_OPTS` has no effect. Is there any way to get RedStorm to run the Ruby code in 1.9?

[2011-12-18 10:05] iconara opened #10 "Fields grouping must be declared with strings, not symbols"
This topology code works

[code]

but this does not

[code]

the latter fails with the following message

[code]

Since fields are declared with symbols, it feels logical that it should be possible to refer to them using symbols too.

[2011-12-19 19:41] colinsurprenant commented on #10
Thanks. This is now fixed in master. I will bundle a release very soon.

[2011-12-19 19:41] #10 closed, assigned to nobody

[2011-12-19 21:08] colinsurprenant commented on #9
right. I did a quick try early in the project it's a bit tricky, in particular with remote clusters. Let me see if I can at least provide a quick hack so you can test that.

[2011-12-20 05:00] stonegao opened #11 "Storm's testing facilities Integration"
Storm will expose its testing facilities to Java API, it's only available in clojure currently. ( https://github.com/nathanmarz/storm/issues/72 ).

Testing is indispensable for writing reliable storm topologies. So redstorm should integrate the testing facilities of Storm once it's available.

For the time being, @nathanmarz suggest that using Clojure for the test. Any suggestions on Clojure & JRu

[2011-12-21 07:58] stonegao commented on #11
FYI: Ben ( @schleyfox ) wrote a library for storm testing in clojure.

https://github.com/schleyfox/storm-test

With two blog posts about testing storm topologies:

http://www.pixelmachine.org/2011/12/17/Testing-Storm-Topologies.html
http://www.pixelmachine.org/2011/12/21/Testing-Storm-Topologies-Part-2.html

[2011-12-21 08:47] schleyfox commented on #11
I really didn't write much, most of storm's testing functionality is available within the standard distribution.

You could try https://github.com/kyleburton/jrclj for a jruby to clojure bridge.

[2011-12-21 10:38] nathanmarz commented on #11
@stonegao I'd be curious to hear if you're successful in leveraging Storm's testing facilities through that bridge.

[2012-01-18 09:03] Jell opened #12 "0.3.0 release?"
Any chance of seeing red storm 0.3.0 being released on rubygems?

The documentation says that running `gem install redstorm` will install redstorm 0.3.0, but it is still 0.2.1 that is the latest release available.

[2012-01-24 18:48] colinsurprenant commented on #12
Yes, sorry about this delay, I just got back from a 3 weeks climbing trip without much connectivity :P. I am catching up, should be done shortly.

[2012-02-08 21:08] colinsurprenant commented on #11
Sorry for the delay, but I will be taking a look at what can be done to help with testing. @stonegao let me know if you have made any more investigations with this.

[2012-02-08 21:16] colinsurprenant commented on #12
I decided not release a gem for 0.3.0 and go to 0.4.0 with the integration of Storm 0.6.2 and JRuby 1.6.6. It is available now.

If you really need a 0.3.0, I created the tag v0.3.0 which includes your fixes. You can build the gem from it.

[2012-02-08 21:16] #12 closed, assigned to nobody

[2012-02-08 21:19] colinsurprenant commented on #8
@stonegao did you have any success with this?

[2012-02-08 22:49] Jell commented on #12
That's perfect! Thanks!

[2012-02-09 03:03] stonegao commented on #8
Currently I am using the json serialization approach you suggested. I have no idea what the performance penalty is.

[2012-02-09 03:06] stonegao commented on #11
Busy with other stuff at the moment, will begin active developing our system based on redstorm later this month. I 'll let you know the findings.

[2012-02-13 05:23] stonegao opened #15 "no method 'setSpout' after upgrade to redstorm 0.4.0 and storm 0.6.2"
I upgraded to redstorm 0.4.0 today for our project (previously its based on redstorm 0.2.1). When running the topology locally the following exception occurs:

<pre>
0    [main] ERROR org.apache.zookeeper.server.NIOServerCnxn  - Thread Thread[main,5,main] died
org.jruby.exceptions.RaiseException: (NameError) no method 'setSpout' for arguments (org.jruby.RubyString,redstorm.storm.jruby.JRubySpout,o

[2012-02-13 13:42] colinsurprenant commented on #15
Hi Stone,

After upgrading, did you clean your target/ directory and reinstall with "redstorm install" ?
If that does not help, would it be possible to submit a topology which recreates this problem?

Colin

[2012-02-13 14:51] stonegao commented on #15
Thanks for your suggestion. I only did `redstorm install` and didn't clean the target/ directory.  After clean & reinstall the exception disappeared but a new exception occurs:

<pre>
1    [main] ERROR org.apache.zookeeper.server.NIOServerCnxn  - Thread Thread[main,5,main] died
org.jruby.exceptions.RaiseException: (LoadError) load error: bundler/definition -- java.lang.StackOverflowError: null

[2012-02-13 15:59] colinsurprenant commented on #15
I think you are right, it looks like its the same problem. Have you tried the suggested fix per http://jira.codehaus.org/browse/JRUBY-6407?focusedCommentId=290552&page=com.atlassian.jira.plugin.system.issuetabpanels:comment-tabpanel#comment-290552

If you use rvm, this file is in ~/.rvm/rubies/jruby-1.6.6/lib/ruby/site_ruby/1.8/rubygems/defaults/jruby.rb and you can simply move the line with requi

[2012-02-13 16:37] stonegao commented on #15
Thanks for your advice.

tried the fix but not work. I also tried install jruby-1.6.6-head not work too.

[2012-02-13 16:49] colinsurprenant commented on #15
Can you gist a topology which reproduces this problem?

[2012-02-13 17:45] stonegao commented on #15
I tried change the pom.xml in redstorm and build a redstorm gem that depends on jruby-1.6.5.1 and it works as before now.

The topology is just like the examples in redstorm, except that I added one line `require boot` and `boot.rb` was mentioned in https://github.com/colinsurprenant/redstorm/issues/7 :

[code]

[2012-02-13 18:45] colinsurprenant opened #16 "bundler integration"
Bundler integration to support gems for both local and cluster mode. Related issues #7 and #15

[2012-02-13 18:49] colinsurprenant commented on #15
Ok, so this confirms that this problem is in fact related to the JRuby 1.6.6 + rubygems bug http://jira.codehaus.org/browse/JRUBY-6407 - the fix will come with the next JRuby release.

Otherwise, requiring bundler from your topology will only work in local mode. When run remotely on a cluster, the gems will need to be installed into target/gems/ and part of the generated target/cluster-topology.ja

[2012-02-13 18:49] #15 closed, assigned to colinsurprenant

[2012-02-13 20:40] colinsurprenant commented on #9
Hi Theo,

just a quick note that I got it working in both local mode and on remote cluster (using JRuby 1.6.6 and Storm 0.6.2). It is now possible to specify 1.8 ou 1.9 mode per topology. It is available in the [19mode branch](https://github.com/colinsurprenant/redstorm/tree/19mode)

In local mode, simply add either --1.8 or --1.9 when launching and for remote cluster add

[code]

in the topology

[2012-02-15 06:03] iconara commented on #9
very nice! thanks a lot.

T#

On Monday 13 February 2012 at 21:40, Colin Surprenant wrote:

[2012-02-16 08:19] stonegao commented on #16
Any progress? I tried override ENV['GEM_PATH'] and ENV['GEM_HOME'] in boot.rb, but when running on the cluster, bundler still can't figure out the correct path:

<pre>
2012-02-16 15:20:04 STDIO [ERROR] Invalid gemspec in [/Users/stone/.rvm/gems/ree-1.8.7-2010.02/specifications/mongoid-2.1.4.gemspec]: invalid date format in specification: "2011-08-03 00:00:00.000000000Z"
2012-02-16 15:20:04 STDIO [

[2012-02-17 08:56] stonegao commented on #16
Also tried remove bundler completely and use the approach recommended in redstorm README.  I changed the `boot.rb` to the following :

[code]

It works in local mode. But failed again in cluster mode.

<pre>
2012-02-17 16:36:19 STDIO [ERROR] Invalid gemspec in [/Users/stone/.rvm/gems/ree-1.8.7-2010.02/specifications/mongoid-2.1.4.gemspec]: invalid date format in specification: "2011-08-03 00:00:00

[2012-02-17 15:27] stonegao commented on #16
I changed the source code of JRubyBolt.java and submit the new jar again, there's something wrong with the environment variables GEM_HOME/GEM_PATH:

[code]

in storm worker log the output is :

<pre>
2012-02-17 23:25:36 STDIO [INFO] ************ in jrubybot prep****************
2012-02-17 23:25:36 STDIO [INFO] PATH: /Users/stone/.cljr/bin:/Users/stone/.rvm/gems/ree-1.8.7-2010.02/bin:/Users/stone/.

[2012-02-17 15:31] stonegao commented on #16
FYI: warbler can also used to package ruby applications https://github.com/jruby/warbler

[2012-02-17 17:26] colinsurprenant commented on #16
Stone,

I spent some time yesterday on Bundler and I am stuck where Bundler does not find its gems when calling setup. Basically, the idea is to include the bundler gem, the Gemfile and the bundled gems in the jar. I was able to package bundler, have it find its Gemfile but there is still a path issue when bundler calls setup. This is all a bit tricky since the environment & paths are inside the j

[2012-02-17 19:48] colinsurprenant commented on #16
Good news! I think I just cracked that nut :) I was able to make everything work with bundler. Now I need to cleanup and refactor. I should be able to push a branch soon for you to test in your environment.

[2012-02-17 22:56] stonegao commented on #16
Thanks & Great news. Looking forward to your commits.

[2012-02-18 11:03] stonegao commented on #16
FYI

I tried start storm like `unset GEM_PATH && unset GEM_HOME && bin/storm supervisor` as this post suggested ( http://blog.karthiks.in/2010/04/enforce-jruby-to-use-gems-inside-jruby.html ) , it no longer find gems for ree now, but still complain that Could not find multi_json :

<pre>
2012-02-18 18:58:06 STDIO [INFO] ************ in jrubybot prep****************
2012-02-18 18:58:06 STDIO [INFO]

[2012-02-18 11:19] stonegao opened #17 "rspec with redstorm : uninitialized constant RedStorm::SimpleBolt::Values"
This may related to the classpath issue. I have tried run `CLASSPATH="./target/dependency/*"` but still got the following error:

<pre>
     NameError:
       uninitialized constant RedStorm::SimpleBolt::Values
</pre>

[2012-02-20 17:39] colinsurprenant commented on #16
It seems multi_json is not installed?

(LoadError) Could not find multi_json (~> 1.0) amongst [activemodel-3.2.1, activesupport-3.2.1, activesupport-3.0.3, bson-1.3.1-java, bson_ext-1.3.1, builder-3.0.0, i18n-0.6.0, json-1.6.5-java, mongo-1.3.1, mongoid-2.2.4, mongoid-collection-sharding-0.0.3, rack-1.4.1, rack-protection-1.2.0, rake-0.9.2.2, rake-0.8.7, redis-2.2.2, redis-namespace-1.0.3, redstor

[2012-02-20 17:49] colinsurprenant commented on #17
Stone,

are you trying to run the specs on redstorm project itself or specs of your own project using redstorm?

[2012-02-20 22:56] stonegao commented on #17
My own project using redstorm.

[2012-02-20 22:58] stonegao commented on #16
It does installed and get packaged in the jar

[2012-02-22 08:27] stonegao commented on #17
`jruby -J-cp "target/dependency/*" -S  rspec ./spec/` also not works. the same error. Maybe it's time to create a redstorm-starter project to demonstrate  the usage of redstorm with specs.

[2012-02-22 17:44] colinsurprenant commented on #16
I am about to finally push my changes so I think it's best you try with that instead of trying to figure out this particular problem...

[2012-02-25 18:33] colinsurprenant commented on #16
Ok, I just pushed branch "bundler".  Can you try it with your project?
- build gem (0.4.1) and install it in your project
- i strongly suggest you wipe the target directory. reinstall redstorm in your project
- redstorm install
- in your project, install bundler and rake gems into target dir using:
- gem install bundler -i target/gems/gems
- gem install rake -i target/gems/gems
- install the bundl

[2012-02-26 10:02] colinsurprenant commented on #16
Forgot to say that you should have the following require order in the topology:

[code]

you can look at examples/simple/redis_word_count_topology.rb which works with bundler.

[2012-03-01 06:43] stonegao opened #20 "add storm 0.7.0 support"
storm 0.7.0 already released : https://groups.google.com/forum/#!topic/storm-user/Z24Yka01Vyw/discussion

[2012-03-01 06:46] stonegao commented on #16
The code in bundler branch works ok. thanks for your effort!

But it still print the following msg (this does not prevent redstorm topology from working, just the msg).

<pre>
2012-03-01 11:45:07 STDIO [ERROR] Invalid gemspec in [/Users/stone/.rvm/gems/ree-1.8.7-2010.02/specifications/mongoid-2.1.4.gemspec]: invalid date format in specification: "2011-08-03 00:00:00.000000000Z"
2012-03-01 11:45:08

[2012-03-20 10:50] danharvey opened #21 "TopologyLauncher does not run in Ruby 1.9 in the 19mode branch"
Using the 19mode branch when you run `storm jar ...` it will run the TopologyLauncher using Ruby 1.8 by default which will in turn run your topology configuration script in ruby 1.8 rather than 1.9 even if you've got JRUBY_OTPS=--1.9 set from the environment you deploy from.

To fix this we need to set the JVM property -Djruby.compat.version=RUBY1_9 before we run the TopologyLauncher. This has to

[2012-05-19 21:15] jondot commented on #7
@stonegao please check out my pull request. there's a good chance that the original cause wasn't the require statement that you found.
hope it helps.

[2012-05-29 21:30] colinsurprenant commented on #21
Hey, I know its been a while but just to let you know that I finally merged my 19mode and bundler branches and 1.9 is working correctly in master. The README is updated with all relevant information for the master branch. I have not yet published the gem but you can build it yourself locally or checkout master and run your topologies directly from the project.

Also, late thanks for the heads up :

[2012-05-29 21:30] #21 closed, assigned to nobody

[2012-05-29 21:37] colinsurprenant commented on #20
This is my next step, I will add 0.7.x support. I just updated master with support for bundler and Ruby 1.9 mode (and JRuby 1.6.7).

[2012-05-29 22:14] colinsurprenant commented on #16
I have reworked the bundler support and also fixed the 1.8/1.9 Ruby mode. Can you try your topology with the current master?

[2012-05-29 22:15] colinsurprenant commented on #9
1.8/1.9 support is finally merged in master and README has all the gory details :P

[2012-05-29 22:15] #9 closed, assigned to colinsurprenant

[2012-05-29 23:02] colinsurprenant commented on #16
I think the problem with the invalid gemspec is related to 1.8/1.9 mixup with gems. It is important to specify the same 1.8 or 1.9 mode throughout the whole workflow to avoid incompatibilities.

[2012-05-30 15:45] colinsurprenant commented on #17
redstorm-starter is a good idea.
For the specs, I believe this is because the Backtype (Java) classes are not defined when running the specs. You can probably mock theses classes in your test for now. I am not sure what is the best approach for this globally at this point. Maybe provide a set of mocks for specs? I am not sure, I will have to research a bit more about this to see if there are some

[2012-05-30 18:17] colinsurprenant opened #23 "create a redstorm starter project"
provide some non-trivial examples, with working specs/testing structure to facilitate bootstrapping a new redstorm project.

[2012-05-30 18:23] colinsurprenant opened #24 "multiple per environment config files"
@stonegao in issue #19 suggested to add some way to manage multiple config file, possibly in a Rails style (seperate config files in config/{development, test, production}.yml )

[2012-05-31 23:29] colinsurprenant commented on #20
Storm 0.7.1 added and working well in master. About to release gem v0.5.0 with this.

[2012-05-31 23:29] #20 closed, assigned to colinsurprenant

[2012-05-31 23:31] colinsurprenant commented on #16
closing this issue. all bundling & gem support working in master and about to be released in gem v0.5.0.

[2012-05-31 23:31] #16 closed, assigned to colinsurprenant

[2012-05-31 23:34] colinsurprenant opened #25 "add specs for spout activate/deactivate and per component configuration"
title says all :P

[2012-06-01 15:33] colinsurprenant opened #26 "verify that native examples still work in 0.5"
make sure all examples/native/\* are working under redstorm 0.5.x gem

[2012-06-01 17:11] colinsurprenant opened #27 "generate local Rakefile instead of using redstorm bin?"
see if instead of using the redstorm bin for all commands in workflow, we could use a generator to create a local Rakefile and expose rake tasks for the workflow. This would allow easy local customization if needed.

[2012-06-01 18:11] colinsurprenant opened #28 "allow specification of output_fields in topology DSL"
output_fields is currently defined in the bolt/spout DSL. I think it would make sense to allow this definition to occur in the topology definition DSL which would then provide all the spouts & bolts "wiring" or routing information: output_fields, source and grouping definition.

[2012-06-05 21:15] #26 closed, assigned to nobody

[2012-06-05 21:49] colinsurprenant opened #29 "update to Storm 0.7.2"

[2012-06-05 21:52] colinsurprenant opened #30 "add rake tasks for Storm install and cluster submission"
- rake task for local storm install in storm/ directory
- rake task for cluster topology submission

[2012-06-06 03:48] #29 closed, assigned to colinsurprenant

[2012-06-07 17:49] iconara opened #32 "Don't shell out unless absolutely necessary"
When running the Redstorm tasks there's a lot of shelling out going on. Redstorm shells out to rmvn, which, IIRC, shells out to mvn. Shelling out is very slow on the JVM, and doubly so since all the processes started are also JVMs. It feels unnecessary and can probably be sped up considerably if all the work was done in-process.

Perhaps the dependency management could be done with [Pom Pom Pom](h

[2012-06-08 02:12] colinsurprenant commented on #32
Hi Theo,

Thanks for the suggestion. I agree the current process is suboptimal. I like your idea and you are very welcome to try and improve the dependency management with pompompoma and ivy!

Colin

[2012-06-08 10:23] iconara commented on #32
I'll see what I can do.

[2012-06-14 18:02] steventen opened #34 "Storm UI"
Hi, is there a way that I can use storm ui through ruby? And if it's local mode. Can I still use it?

[2012-06-14 19:46] colinsurprenant commented on #34
Hi,

the Storm UI  is actually independent from RedStorm, it must be started from the Storm distribution and will only monitor a cluster/remote environment. Storm UI does not work with a local cluster.

If you want to use a topology on a cluster/remote environment, you must evidently have a Storm cluster setup. You also need the Storm distribution locally for you to submit the topology to the clus

[2012-06-14 19:46] #34 closed, assigned to nobody

[2012-06-14 20:28] steventen commented on #34
Hi Colin,

 thanks for your answer

[2012-06-27 17:52] colinsurprenant opened #35 "automatically set JRuby 1.8/1.9 mode in remote cluster context"
remote cluster JRuby mode is controlled using the topology configure block with something like:

[code]

just like with local execution we should default to the current JRuby interpreter version if not explicitly configured.

[2012-06-27 21:02] colinsurprenant commented on #32
solved in issue #33

[2012-06-27 21:02] #32 closed, assigned to nobody

[2012-06-27 21:06] colinsurprenant commented on #30
redstorm cluster topology submission is in v0.6.0, using same syntax as "redstorm local ...". Won't do storm install.

[2012-06-27 21:06] #30 closed, assigned to nobody

[2012-06-28 17:24] #35 closed, assigned to nobody

[2012-06-28 19:39] colinsurprenant opened #36 "fix slf4j-api-1.6.3 and slf4j-log4j12-1.5.8 version conflict"
why slf4j-api-1.6.3 and slf4j-log4j12-1.5.8 are fetched by pompompom with conflicting versions.

[2012-06-28 19:41] colinsurprenant opened #37 "fix dependencies xml files naming"
they are all downloaded as ivy-x.y.z-ivy.xml using "ivy" as the artifact name instead of the correct artifact name.

[2012-06-29 16:00] colinsurprenant commented on #21
If you still use RedStorm you might want to take a look at the latest 0.6.0 - 1.8/1.9 Ruby mode is now correctly handled from end-to-end, local and cluster mode. By default, the 1.8/1.9 Ruby mode of the current interpreter will be correctly propagated to the local or cluster topology (can also be forced using --1.8 or --1.9 switch).

[2012-07-06 09:46] harrigan opened #38 "on_ack and on_fail not getting called"
I have a topology with a single spout and a single bolt:

[code]

The bolt just acks every tuple it receives from the spout. Unfortunately on_ack is never getting called. Should it be? on_fail is never getting called either.

[2012-07-06 15:21] colinsurprenant commented on #38
Looking into this now....

[2012-07-06 16:41] colinsurprenant commented on #38
Here's the problem: SimpleSpout does not allow passing an explicit tuple message id in the emit method which result in:

[code]

I will fix this for you in a branch this afternoon and will include this in the upcoming 0.6.1 release. Are you using the gem or a project fork?

[2012-07-06 18:23] harrigan commented on #38
Cool, I'm using the 0.6.0 gem.

[2012-07-06 20:43] colinsurprenant commented on #38
Ok, now spouts can do "reliable" emits. Using bundler you can install this gem with:

[code]

and your topology should be like:

[code]

[2012-07-06 20:43] #38 closed, assigned to colinsurprenant

[2012-07-06 21:47] harrigan commented on #38
Thanks -- that does the trick!

[2012-07-07 23:25] colinsurprenant commented on #36
there is a hack in 0.6.1 which cleans up the conflict but the real source of the problem still need to be found

[2012-07-08 01:20] colinsurprenant commented on #38
FYI I just released RedStorm 0.6.1 which also includes Storm 0.7.4

[2012-07-08 18:46] lorcan commented on #38
+1

[2012-07-10 15:50] colinsurprenant opened #39 "spout on_receive block will not be evaluated if :emit => false"
when using

[code]

the body of the on_receive block will never be evaluated.

[2012-07-10 16:12] colinsurprenant opened #40 "bolt fail method missing"
the `fail(tuple)` method is not implemented in the bolt, only the `ack(tuple) method.

[2012-07-10 19:22] #40 closed, assigned to nobody

[2012-07-10 19:23] #39 closed, assigned to nobody

[2012-07-10 21:06] colinsurprenant commented on #38
fyi, you should upgrade to 0.6.2, it fixes some Storm reliability support issues...

[2012-07-11 00:36] colinsurprenant opened #41 "add support for ShellBolt and ShellSpout"
need to create Java proxy classes to work around the serialization issue.

[2012-07-11 12:08] mikeclymer opened #42 "add support for Distributed RPC"
I do not currently see a way to handle DRPC in RedStorm. DSL / proxy support for LinearDRPCTopologyBuilder and related DRPC classes would be very useful.

[2012-07-11 14:38] colinsurprenant commented on #42
Absolutely. LinearDRPCTopologyBuilder with topology submission support should be fairly easy to add.

[2012-07-11 15:01] colinsurprenant opened #43 "add support for Transactional topologies"
TransactionalTopologyBuilder and topology submission, TransactionalSpout

[2012-07-11 15:05] colinsurprenant opened #44 "add support for BatchBolt"
IBatchBolt interface

[2012-07-12 20:28] colinsurprenant commented on #41
shell bolts/spouts now supported:

[code]

the `["python", "splitsentence.py"]` array is actually a generic way for passing constructor arguments to any Java bolt/spout class.

the directory which contains the topology class must contain a `resources` directory with all the shell code files.

[2012-07-12 20:28] #41 closed, assigned to colinsurprenant

[2012-07-12 20:32] colinsurprenant commented on #28
now spout/bolt can define their output_fields in the topology definition instead of within the spout/bolt class.

[code]

[2012-07-12 20:32] #28 closed, assigned to nobody

[2012-07-20 16:40] colinsurprenant opened #45 "better handling of ant dependency"
as reported in Stom ML:  https://groups.google.com/d/topic/storm-user/jLY_f320Hek/discussion

when ant is not locally installed :

 redstorm install
IOError: Cannot run program "ant" (in directory "/home/ant/r"): java.io.IOException: error=2, No such file or directory
          popen at org/jruby/RubyIO.java:3613
  load_from_ant at /home/ant/.rvm/rubies/jruby-1.6.7.2/lib/ruby/site_ruby/shared/ant.

[2012-08-06 08:55] grinser opened #46 "Support for Trident API and other topologies"
Is there anything planned regarding the support of the newly introduced Trident API (Storm 0.8) as well as the other existing topologies?
I just updated the storm dependency of redstorm to storm 0.8.0 for my own testing and it seems that the existing redstorm samples work flawlessly.

[2012-08-07 00:54] colinsurprenant commented on #46
Yes absolutely, I will make a release for 0.8.0 and plan to support Trident. AFAIK LinearDRPCTopology and  transactional topologies are being deprecated so I do not think it's worth spending time on it at this point, unless there is a request for it (I am not using them myself...).

ACTUALLY, (... checking issues ...) there is a request for LinearDRPCTopology in issue #42 and I opened issue #41 fo

[2012-08-07 13:39] grinser commented on #46
Great that you plan to support 0.8.0 with redstorm.
Actually I wouldn't mind the old topologies as long as I could use all scenarios provided with the Trident API through Ruby code - this would be so awesome. Therefore I think the new ones should be of higher priority if you'd ask me ;-)

I know this is a tough one but do you have a vague timeline when you might work on it and release it?
I wish I

[2012-08-07 19:32] kerinin commented on #46
:+1: for Trident support!

[2012-08-08 21:09] colinsurprenant commented on #46
I am leaving for vacations tonight :D  so I'll work on it at the end of August.

[2012-08-10 19:15] headius commented on #8
We should probably implement serialization on the JRuby core classes to always use Ruby Marshal logic rather than default JVM serialization logic. It will probably be faster, and there's various issues attempting to serialize a JRuby object across runtimes.

[2012-08-10 19:22] headius commented on #8
Actually now that I think about it, we probably would want to make Java serialization on a Ruby Hash coerce all contents. There's no clean/safe way to deserialize a Ruby object with Java serialization because the construction of the object requires a JRuby instance to be passed in (and none is available when Java serialization constructs the "empty" object).

Is there an example use case I can run

[2012-08-25 20:51] mikeclymer commented on #46
I opened issue #42 before I was aware of the DRPC support with Trident. I don't think working on #42 is necessary at this point. Especially with the deprecation of LinearDRPCTopology. +1 for Trident support. Thank you for the great work.

[2012-09-07 15:03] sam commented on #8
@headius Being able to serial Strings, Numerics, Arrays and Hashes by default would be nice. Basically the old rule about Session storage (since that's my use-case): Primitives, Arrays and Hashes only. Don't store complex objects in Session so you don't have to worry about custom serialization/marshalling.

Honestly it's a nice-to-have though. Writing a recursive (Hash|Array)#to_serializable is ea

[2012-09-21 15:43] robmckinnon commented on #46
another :+1: for Trident support! :)

[2012-09-27 21:50] fractaloop opened #48 "add support for external Jars"
Some topologies may require external jars, such as the ones in [storm-contrib](https://github.com/nathanmarz/storm-contrib). A mechanism is needed to specify jars/files/etc that will get included during `redstorm deps`

[2012-09-28 13:39] jondot opened #49 "gem dependencies and bundler not picking up groups"
Hey guys,

I've traced a problem here https://github.com/colinsurprenant/redstorm/blob/master/lib/tasks/red_storm.rake#L160

Which causes `redstorm bundle` to not copy any gems.

Where bundler keeps the default group as the symbol `:default` and not the string `'default'`:

[code]

This is bundler 1.1.4, I didn't make a pull request because I'm not sure what it is the string `'default'` in the fir

[2012-09-28 13:55] jondot commented on #49
Nevermind the previous theory. Looks like it has to do with groups being blank (`""`) and not nil.
Following snippet fixes it for me:

[code]

makes sense?

[2012-10-02 18:15] fractaloop commented on #48
Currently I'm unpacking them so they get JARed up with jruby, which works. We'll need a way to ensure they are in Java classpath (external to the embedded JRuby).

[2012-10-03 20:15] fractaloop commented on #49
From what I can tell, you'll want to put the gems required from your topology in a special group and then bundle that.

Your Gemfile would look something like:

[code]

And bundle them with `redstorm bundle topology`

[2012-10-03 20:17] fractaloop commented on #49
For more background on the Bundler SNAFU check out https://github.com/colinsurprenant/redstorm/pull/33

[2012-10-03 20:20] fractaloop opened #50 "Update RedStorm to target Storm 0.8"
RedStorm currently targets 0.7.4 right now. Storm is up to 0.8.1 with 0.8.2 to be release soon. It adds some awesome features I'm sure a lot of RedStorm users would appreciate.

As it stands, I've been using RedStorm with 0.8.0 and 0.8.1 and it seems to work alright.

[2012-10-09 14:23] colinsurprenant commented on #49
@fractaloop is right in that you should ideally put the topology gems into a group and reference that group when doing the `redstorm bundle GROUP_NAME`, this is also what I suggested in the README.

BUT :) `redstorm bundle` without parameter should correctly install gems not in any group. There is in fact a bug with the "default" group handling - thanks for spotting this. I am about to commit the

[2012-10-09 14:31] colinsurprenant commented on #50
On it. I will first close 0.6.3 today then do another release with update to Storm 0.8.1 and JRuby 1.6.8 and make sure nothing breaks with the current codebase. After that I will work on Trident support.

[2012-10-09 14:35] colinsurprenant commented on #48
Thanks for your work & perseverance on this, very useful feature.

[2012-10-09 15:10] colinsurprenant commented on #46
getting there, see issue #50

[2012-10-09 22:36] grinser commented on #50
Awesome :)

[2012-10-10 02:49] colinsurprenant commented on #49
And btw @jondot the way I personally setup a RedStorm project is by first creating a Gemfile with

[code]

then I do a `bundle install`, `redstorm install` and for the topology gems I do a `redstorm bundle topology` and so on.

Make sense?

[2012-10-10 02:53] #49 closed, assigned to colinsurprenant

[2012-10-10 11:57] colinsurprenant commented on #11
per https://github.com/nathanmarz/storm/issues/72 Storm 0.8.1 now exposes its testing facilities.

[2012-10-10 14:29] colinsurprenant commented on #50
all tests are passing with Storm 0.8.1 and JRuby 1.6.8, looking good. In branch v0.6.4.

[2012-10-10 15:23] fractaloop commented on #50
Woot!

[2012-10-10 23:27] #50 closed, assigned to colinsurprenant

[2012-10-10 23:57] colinsurprenant commented on #48
Here's my idea for this. First I want to allow an external dependency specification which will overrides the default one. If the file `Dependencies` is present in the project root, it will be used to specify the dependencies. The syntax is a Ruby hash to specify the PomPomPom::Runner configuration.

For example, to reproduce @fractaloop KafkaSpout use-case, I created the following `Dependencies` f

[2012-10-11 20:09] fractaloop opened #51 "`redstorm bundle` fails to load git based gems"
**Updated**

Only gems from RubyGems will work when bundling a topology. If a gem is from a git repo, the .gemspec will not be compiled like the ones from RubyGems. As a result, it will fail to load.

Steps to reproduce:

[code]

`bundle exec redstorm bundle topology`

Then attempt to run the topology locally to get a LoadError.

[2012-10-12 21:20] colinsurprenant commented on #48
Ok, I changed a few things. I replaced pompompom with ant+ivy. I went with my idea of an externalized dependencies config file "Dependencies" with 2 parts: the storm dependencies (basically the storm jar for running in local mode) and the topology dependencies, all other jars required to run a topology. If the "Dependencies" file is not present then the defaults are the storm and jruby jars. For n

[2012-10-12 21:30] colinsurprenant commented on #51
interesting... seems I never tried to `redstorm bundle` with --deployment bundles... I'll have to check!

[2012-10-13 17:57] #45 closed, assigned to nobody

[2012-10-13 18:22] colinsurprenant commented on #51
I am not able to reproduce the problem. I tried doing `bundle package` and then a `bundle install --deployment` and `redstorm bundle topology` just worked...

Could give me more information about your setup, maybe a minimal sample project and the steps to reproduce? Also could you give me a dump of the error?

[2012-10-13 18:24] colinsurprenant commented on #37
fixed by issue #48

[2012-10-13 18:24] #37 closed, assigned to colinsurprenant

[2012-10-13 18:25] colinsurprenant commented on #36
fixed by issue #48

[2012-10-13 18:25] #36 closed, assigned to colinsurprenant

[2012-10-16 20:47] fractaloop commented on #48
This seems to work great! Thanks for your awesome work.

[2012-10-16 20:47] #48 closed, assigned to colinsurprenant

[2012-10-22 17:42] fractaloop commented on #51
Updated with actual cause of issue.

[2012-10-31 20:53] colinsurprenant commented on #51
Ok, good catch. I'll see how we can deal with this.

[2012-11-01 18:58] adsummos opened #53 "--1.9 does not appear to be sent to cluster"
I have jruby set to 1.9 by default and I also included the --1.9 flag on redstorm cluster and when I check the JRUBY_OPTS, they are nil and 1.9 methods don't exist.

[2012-11-01 21:59] colinsurprenant commented on #53
Weird. How did you set 1.9 by default? using `export JRUBY_OPTS=--1.9` ? when you type `ruby -v` what do you get?

[2012-11-01 22:02] adsummos commented on #53
I've tried exporting JRUBY_OPTS and compiling with 1.9 as the default, but no matter what I do the cluster defaults to 1.8. I can't figure out how you're telling Storm to use jruby-complete in 1.9 mode

ruby -v
jruby 1.6.8 (ruby-1.9.2-p312) (2012-09-18 1772b40) (Java HotSpot(TM) 64-Bit Server VM 1.6.0_35) [darwin-x86_64-java]

[2012-11-01 22:04] adsummos commented on #53
I also seem to be having problems with rubygems, maybe the two issues are related somehow?

java.lang.RuntimeException: org.jruby.exceptions.RaiseException: (LoadError) no such file to load -- active_support/concern
    at redstorm.storm.jruby.JRubyTransactionalSpout.newProxySpout(JRubyTransactionalSpout.java:81)
    at redstorm.storm.jruby.JRubyTransactionalSpout.getEmitter(JRubyTransactionalSpou

[2012-11-01 22:05] adsummos commented on #53
also, everything works fine in local mode

[2012-11-01 22:12] colinsurprenant commented on #53
for the 1.9 mode, the -Djruby.compat.version=TOKEN is passed to either the `java` command for local mode or the `storm` command for cluster mode.

if no --1.8 or --1.9 is passed, the TOKEN will be set to RUBY1_8 or RUBY1_9 depending on the current Ruby environment version. Otherwise it is set using the passed switch.

Can you check if -Djruby.compat.version= is correctly passed in local and cluste

[2012-11-01 22:20] colinsurprenant commented on #53
for the gem, did you add the gem in a Gemfile under a group, lets say "mygroup" and run:
`$ bundle install`
`$ redstorm bundle mygroup`

Also, it might very well be related to your 1.8/1.9 issue since bundler uses the Ruby version in its gem paths so if a gem is installed in 1.9 and the topology runs in 1.8, it won't load the gem.

[2012-11-01 22:24] colinsurprenant commented on #53
to make sure you are using 1.9 everywhere, start from scratch (remove your gemset if using bundler) and try to always force jruby in 1.9 using `jruby --1.9 -S bundle install` and `jruby --1.9 -S redstorm cluster --1.9` etc

personally, I install JRuby with rvm in its default mode (1.8) and use `export JRUBY_OPTS=--1.9` and 1.9 mode is always correctly carried.

[2012-11-01 23:46] adsummos commented on #53
the gems are in the default group and I did a restorm bundle default. Could that be the gem issue?

[2012-11-01 23:56] colinsurprenant commented on #53
when you did the `restorm bundle default` did you see the message `installing gem xxx into yyy` ? also if you look into `target/gems/gems/` is the gem present?

[2012-11-02 00:00] colinsurprenant commented on #53
what redstorm version are you using? issue #49 closed in 0.6.3 was about a problem handling the bundler default group.

[2012-11-02 00:01] adsummos commented on #53
yes, and yes and I am using 0.6.4. I tried starting from scratch with jruby --1.9 -S and got the same result. I briefly tried with jruby 1.7, but got some strange yaml error and couldn't even deploy the jar

[2012-11-02 00:02] adsummos commented on #53
I am currently using jruby 1.6.8 default rvm install

[2012-11-02 00:05] colinsurprenant commented on #53
Are you still having the 1.9 issue?

[2012-11-02 00:06] adsummos commented on #53
yes

[2012-11-02 00:13] colinsurprenant commented on #53
Hm. can you create a minimal "project" (Gemfile, topology) which can reproduce this problem? I will set it up locally and try to reproduce the problem here.

[2012-11-02 00:15] adsummos commented on #53
ok, I'll put something together first thing in the morning

[2012-11-02 00:18] colinsurprenant commented on #53
in the meantime could you copy/gist/email me your Gemfile?

[2012-11-02 00:27] adsummos commented on #53
[code]

[2012-11-02 13:23] adsummos commented on #53
I get:
java.lang.RuntimeException: org.jruby.exceptions.RaiseException: (NoMethodError) undefined method `require_relative' for main:Object
    at redstorm.storm.jruby.JRubyTransactionalSpout.newProxySpout(JRubyTransactionalSpout.java:81)
    at redstorm.storm.jruby.JRubyTransactionalSpout.getComponentConfiguration(JRubyTransactionalSpout.java:71)
    at backtype.storm.transactional.TransactionalS

[2012-11-02 13:24] adsummos commented on #53
sorry, wrong stacktrace

java.lang.RuntimeException: org.jruby.exceptions.RaiseException: (NoMethodError) undefined method `require_relative' for main:Object
    at redstorm.storm.jruby.JRubySpout.newProxySpout(JRubySpout.java:104)
    at redstorm.storm.jruby.JRubySpout.open(JRubySpout.java:42)
    at backtype.storm.daemon.executor$fn__3976.invoke(executor.clj:415)
    at clojure.lang.MultiFn.invo

[2012-11-02 13:27] adsummos commented on #53
is there possibly something different on your cluster that is allowing this to work? We are currently using a default cluster deployed by storm-deploy

[2012-11-02 13:53] adsummos commented on #53
I fixed the 1.9 issue with
worker.childopts: "-Xmx768m -Djruby.compat.version=RUBY1_9"
I'm going to work on the gem issue now

[2012-11-02 15:53] adsummos commented on #53
the gem file issue was fixed by adding a require 'red_storm' in the topology.rb

[2012-11-02 16:30] colinsurprenant commented on #53
ah crap, should have checked this first thing for the gem.

for the 1.9 issue, I guess I will have to try this with storm-deploy, I don't see why it is not carried.

in `simple_topology.rb` I set the worker.childopts using

[code]

can you try forcing it in the topology configure block, like this:

[code]

[2012-11-02 17:43] adsummos commented on #53
I think that's the issue. I'm just using the proxy classes, not the DSL, so I didn't get that set by default. That's the piece I was missing to understand how storm knew to run it in 1.9 mode.

On Nov 2, 2012, at 12:30 PM, Colin Surprenant wrote:

ah crap, should have checked this first thing for the gem.

for the 1.9 issue, I guess I will have to try this with storm-deploy, I don't see why it is

[2012-11-02 17:54] colinsurprenant commented on #53
AH! bingo. I guess we've resolved all issues now? I'll go ahead and close this, if there is anything else please don't hesitate to reopen or submit other issues.

I will create a ticket to not forget to document this use-case.

Thanks for your patience.

[2012-11-02 17:54] #53 closed, assigned to nobody

[2012-11-02 17:56] colinsurprenant opened #54 "document how to set Storm cluster in JRuby 1.9 mode if not using DSL"
see issue #53

[2012-11-30 20:43] thbar opened #56 "make topology class configure statement optional"
I'm writing my first topology, so beware :-)

When running it, I got:

[code]

The work-around is to add a `configure` block: do we need a better error handling here, if configure is actually required?

[2012-11-30 20:44] thbar commented on #56
Sidenote: the SLF4J warning got me thinking if I needed to fix something or not.

[2012-11-30 21:22] colinsurprenant commented on #56
Good catch!! I am quite surprised this one has not surfaced earlier. Need to add better specs for the topology definition handling.

Right, you can ignore the SLF4J warnings. This is an annoying dependency issue which is basically harmless and does not affect cluster mode.

[2012-11-30 21:27] thbar commented on #56
Beginner's eyes :-)

Thanks for the precision on SLF4J!

[2012-12-19 03:24] palanglung opened #59 "Adding Support Multiple Source in RedStrom DSL's Bolt"
![Storm Topology](http://storm-project.net/images/topology.png)

Implement Multiple Source so we can do this in our topology with redstorm

[2013-01-07 06:59] palanglung commented on #27
Good idea i think especially if we use a deployment strategy like capistrano

[2013-03-18 17:58] adsummos opened #62 "undefined method 'new'"
We occasionally see the following error

java.lang.RuntimeException: org.jruby.exceptions.RaiseException: (NoMethodError) undefined method `new' for main:Object
    at backtype.storm.utils.DisruptorQueue.consumeBatchToCursor(DisruptorQueue.java:87)
    at backtype.storm.utils.DisruptorQueue.consumeBatchWhenAvailable(DisruptorQueue.java:58)
    at backtype.storm.disruptor$consume_batch_when_availab

[2013-03-19 18:10] dmuir opened #64 "JRubyShellSpout is in wrong package"
I installed redstorm-0.6.4 from rubygems, and am having trouble setting up a shell spout.  It looks like the package for JRubyShellSpout is backtype.storm.clojure, but the simple topology is expecting it to be redstorm.storm.jruby.

I'd submit a pull request to fix this, but he other issue is that I can't seem to find JRubyShellSpout.java or JRubyShellBolt.java in the GitHub repo, though they exis

[2013-03-20 18:17] colinsurprenant commented on #62
It does look like a Storm issue. Did you check in the Storm issues and/or mailing lists? In any case, I will be updating dependencies soon and should bring Storm to 0.8.2.

[2013-03-20 18:24] adsummos commented on #62
The problem is that is a ruby error message. I can try looking in Storm issues for Java initialization errors

[2013-03-20 18:25] colinsurprenant commented on #64
could you gist your setup so I can take a look at it? also, take a look at `examples/shell/shell_topology.rb` - last time I check it was working ok.

[2013-03-20 18:31] colinsurprenant commented on #62
right. «undefined method new for main:Object»

you don't have any more log details than this? Is it possible to trace the source of the problem? Is it reproducible?

[2013-03-20 18:42] adsummos commented on #62
I checked for some more context in Splunk and it looks like the error is coming from the Mongo jruby driver. This is the line:

dec = Java::OrgJbson::RubyBSONDecoder.new

It is not reproducible, but it has happened several times. Maybe a jruby issue?

[2013-03-20 19:14] dmuir commented on #64
That doesn't use a shell spout, just a shell bolt.  The issue is
specifically with shell spouts.

-Doug

On Wed, Mar 20, 2013 at 11:25 AM, Colin Surprenant <notifications@github.com

[2013-03-20 19:40] colinsurprenant commented on #62
which version of JRuby and mongo-ruby-driver are u using?

[2013-03-20 19:48] colinsurprenant commented on #64
ah! sorry about that. so you are right, I just checked the source in `src/main/redstorm/storn/jruby/JRubyShellSpout.java` and it defines

[code]

In the mean time you should be able to do:

[code]

This will be fixed for the next release. Feel free to submit a pull request.

[2013-03-21 15:55] stefan-pdx opened #65 "Update on_receive block to handle yield statements"
`on_receive` method blocks should be able to yield a tuple, which would in turn get emitted. Right now, it looks like the current implementation will iterator through an array of tuple and emit them, however, aggregating them inside of the on_receive block might yield poor performance.

Example:

(current form)

[code]

(proposed form)

[code]

Does anyone see any issues with updating the logic wi

[2013-03-21 16:56] colinsurprenant commented on #65
you can actually avoid the auto emit functionality by setting the `:emit => false` options to `on_receive` and "manually" call `unanchored_emit` or `anchored_emit` to emit your tuple from within the `on_receive` block.

example

[code]

does this work for you?

I do not really see how yielding tuples would significantly improve performance. What's your thought on this?

[2013-03-22 12:46] colinsurprenant commented on #64
you were right, both JRubyShellSpout.java and JRubyShellBolt.java were not in the repo, because of a bug in my .gitignore. I had them locally in my src tree but they were never committed in the repo. it is fixed now in master.

thanks for your help with this.

[2013-03-22 12:46] #64 closed, assigned to nobody

[2013-04-06 21:45] colinsurprenant opened #68 "allow inclusion of directories outside of project home in cluster jar"
we should be able to include directories from parent paths, for example

[code]

[2013-04-06 21:48] colinsurprenant commented on #68
red_storm.rake line 202 assumes dirs relative to CWD

[2013-04-09 19:09] adsummos commented on #62
could be this https://jira.mongodb.org/browse/RUBY-550?page=com.atlassian.jira.plugin.system.issuetabpanels:all-tabpanel
we are upgrading to see if it fixes the problem

[2013-04-11 01:58] colinsurprenant commented on #62
well, its does look like it, and they say:

[code]

plus the fact that it is occurring randomly matches the reported problem behaviour.

[2013-05-07 17:50] #51 closed, assigned to colinsurprenant

[2013-05-07 21:13] colinsurprenant opened #71 "automate examples testing"
some changes in the API will break examples and there is no other way than manually running the examples to verify this.

[2013-05-07 21:19] colinsurprenant commented on #65
please let me know you thoughts on my last comment. I would like to release a new redstorm version this week.

[2013-05-07 21:21] colinsurprenant commented on #62
Did you finally solve this or is it still an open issue? Just want to see if I need to spend time on this for the next redstorm release I would like to wrap this week.

[2013-05-07 21:29] colinsurprenant commented on #59
it should actually work out-of-the-box simply by declaring multiple source statements in the topology bolt definition, for example:

[code]

Did you try this?

[2013-05-07 23:53] adsummos commented on #62
we believe it's a bug in the mongo ruby driver

On May 7, 2013, at 17:21, "Colin Surprenant" <notifications@github.com<mailto:notifications@github.com>> wrote:

Did you finally solve this or is it still an open issue? Just want to see if I need to spend time on this for the next redstorm release I would like to wrap this week.

—
Reply to this email directly or view it on GitHubhttps://github.com/

[2013-05-08 02:13] palanglung commented on #59
Yes Its working i create some spec somehow but forgot to rebase so i close that issue maybe this issue also might be closed.

are you already create the spec? if not maybe i can re push the spec.

[2013-05-08 15:56] colinsurprenant opened #72 "add doc for require 'red_storm' in topology class file"
[code]

is necessary in the topology file in particular when using gems in your topology for setting up gem paths etc.

/cc @kb

[2013-05-08 17:47] colinsurprenant commented on #62
Ok. So I'll go ahead and close this - it looks like the issue was resolved in Mongo https://jira.mongodb.org/browse/RUBY-550?page=com.atlassian.jira.plugin.system.issuetabpanels:all-tabpanel -  If you are still having problems, let me know and I'll run some tests on my side to try to reproduce it and help debug that.

[2013-05-08 17:47] #62 closed, assigned to colinsurprenant

[2013-05-08 20:56] #56 closed, assigned to colinsurprenant

[2013-05-08 20:58] colinsurprenant commented on #59
yes! you should make a pull request for your specs, I will include them. thanks!

[2013-05-08 20:58] #59 closed, assigned to colinsurprenant

[2013-05-08 22:15] colinsurprenant opened #73 "jar dependencies conflicts and overrides"
for example with snakeyaml, both JRuby and Storm are using potentially conflicting versions. it is possible to use a custom "Dependencies" file to include a specific  snakeyaml version but it does not override the dependency per-se, we have to manually remove the unused version from `target/dependencies/...`

/cc @kb

[2013-05-08 22:43] #72 closed, assigned to colinsurprenant

[2013-05-08 22:43] #54 closed, assigned to colinsurprenant

[2013-05-09 02:21] colinsurprenant opened #74 "configured topology name as symbol breaks topology submission"
[code]

org.jruby.exceptions.RaiseException: (NameError) no method 'submitTopology' for arguments (org.jruby.RubySymbol,backtype.storm.Config,backtype.storm.generated.StormTopology) on Java::BacktypeStorm::StormSubmitter

/cc @kb

[2013-05-09 19:10] #74 closed, assigned to colinsurprenant

[2013-05-09 19:12] #25 closed, assigned to colinsurprenant

[2013-05-09 23:55] #73 closed, assigned to colinsurprenant

[2013-05-13 13:52] colinsurprenant opened #75 "review generator code from PR #57"
PR #57 included an interesting class generator idea. need to be reviewed.

[2013-05-14 18:55] colinsurprenant opened #76 "avoid shelling out to storm jar command for cluster submission"
more efficient and will remove depending on locally installing the Storm distribution for cluster submission + path setup for bin/storm.

[2013-05-15 02:06] colinsurprenant commented on #44
fixed by PR #52

[2013-05-15 02:06] #44 closed, assigned to colinsurprenant

[2013-05-15 02:08] colinsurprenant commented on #43
mostly fixed by PR #52 closing, will open specific tickets for missing pieces.

[2013-05-15 02:08] #43 closed, assigned to colinsurprenant

[2013-05-15 02:15] colinsurprenant opened #77 "refactor TopologyLauncher topology class initialization"
remove the Configuration.topology_class crap and simply infer the topology class name from the topology file by camelcasing the underscore filename and if they do not match allow extra argument to specify class name.

[2013-05-15 04:27] colinsurprenant opened #78 "document snakeyaml jar conflict workaround with Storm 0.8.2 and JRuby 1.7.3"
problem reported and workaround from @kb.
also reported in Storm issues https://github.com/nathanmarz/storm/pull/567
also problem reproduction gist https://github.com/kb/redstorm-tester/blob/master/tester/tester.rb

basically snakeyaml must be updated to 1.11 in the Storm distribution. It is possible to do so in the RedStorm Ivy dependencies file but will only solve the problem when running local

[2013-05-15 17:40] kb commented on #11
Has any additional thought been put into this from a Redstorm perspective? Any examples out there?

[2013-05-15 19:00] colinsurprenant commented on #78
documented in README

[2013-05-15 19:00] #78 closed, assigned to colinsurprenant

[2013-05-16 01:20] colinsurprenant commented on #42
DRPC support has been added in 0.6.5.

[2013-05-16 01:20] #42 closed, assigned to colinsurprenant

[2013-05-16 01:23] colinsurprenant opened #79 "fix dependencies doc for example kafka topology"
the inline doc reference the old dependencies file format.

[2013-05-21 03:43] palanglung opened #80 "java.lang.NoClassDefFoundError: org/jruby/runtime/Helpers"
Log :

1 [main] ERROR org.apache.zookeeper.server.NIOServerCnxn - Thread Thread[main,5,main] died
java.lang.NoClassDefFoundError: org/jruby/runtime/Helpers
at redstorm.TopologyLauncher.main(TopologyLauncher.java:146)
Caused by: java.lang.ClassNotFoundException: org.jruby.runtime.Helpers
at java.net.URLClassLoader$1.run(URLClassLoader.java:366)
at java.net.URLClassLoader$1.run(URLClassLoader.java:3

[2013-05-21 04:19] #80 closed, assigned to nobody

[2013-06-06 20:40] stefan-pdx opened #81 "Bundling jdbc/postgresql with topology"
Hey guys,

I'm having trouble using the jdbc-postgres gem within a topology. I know that the gem distributes the corresponding JDBC interface (.jar files) with the gem, however, it appears not to be properly loading.

Step 1: Configure the Gemfile

[code]

Step 2: Install deps

[code]

Step 3: Running the topology

[code]

Errors out with:

[code]

My topology is defined as:

[code]

The jdbc-post

[2013-06-06 21:14] colinsurprenant commented on #81
clearly, jars cannot be referenced within a jar. as a possible quick workaround can you copy the jdbc jar into target/dependency/topology/default and try it?

[2013-06-06 21:29] schuyler commented on #46
bump

[2013-06-10 18:08] tarcieri commented on #80
I'm running into this issue as well...

[2013-06-10 18:16] tarcieri commented on #80
I downgraded to JRuby 1.7.2 and this corrected the problem

[2013-06-10 18:34] colinsurprenant commented on #80
(sorry for not updating the issue, the resolution was via email and I forgot to update here :P)

for @palanglung the problem was related to a JRuby mismatch between his local JRuby 1.7.4 and the JRuby used in the RedStorm 0.6.5 dependency which is 1.7.3.

The best way to fix this is to create a "custom" topology dependency:  `ivy/topology_dependencies.xml` with the following:

[code]

and then reb

[2013-06-10 18:50] colinsurprenant commented on #79
this dependency should work:

create file `ivy/topology_dependencies.xml` with the following:

[code]

I haven't checked if the kafka/scala have been updated, will verify and test shortly.

[2013-06-11 02:13] palanglung commented on #80
@colinsurprenant actualy yes it solve but i am forgot to put detail to reproduce when i updating the issue before :)

[2013-06-11 03:13] colinsurprenant commented on #81
did you finally make it work?

[2013-06-11 19:06] colinsurprenant commented on #79
after verification, this last one is a working dependency for storm-kafka for RedStorm 0.6.5 with Storm 0.8.2. Note that JRuby 1.7.4 is included here, you may have to edit that to match your local JRuby installed version.

[2013-06-11 19:09] #79 closed, assigned to colinsurprenant

[2013-06-11 20:16] colinsurprenant opened #82 "make configurable the javac source/target version"
to allow install using Java 6. It is currently hard coded to 1.7.

[2013-06-14 05:12] colinsurprenant opened #83 "add syntactic sugar to the Tuple class for more idiomatic Ruby Tuple usage in the DSL"

[2013-06-14 05:15] colinsurprenant opened #84 "remove "simple" from DSL classes and add DSL namespace"
example: RedStorm::SimpleTopology -> RedStorm::DSL::Topology  etc

and create class aliases for backward compatibility

[2013-06-14 05:21] colinsurprenant commented on #11
I started to play a bit with the Storm testing Java API and it seems a no brainer to use from JRuby + RSpec. I will make some example tests.

[2013-06-18 19:06] colinsurprenant commented on #82
its now possible to specify a different JVM source/target using --[JVM_VERSION] to the `build` and `install` commands. The default version is the current JVM runtime version.

for example to for install or build to use JVM 1.6:

[code]

[2013-06-18 19:06] #82 closed, assigned to nobody

[2013-06-18 19:07] #84 closed, assigned to colinsurprenant

[2013-06-18 19:09] colinsurprenant commented on #83
a tuple value can now be accessed using the value index like `tuple[0]`, or using the field name like `tuple[:word]` or `tuple["word"]`

[2013-06-18 19:09] #83 closed, assigned to colinsurprenant

[2013-06-18 20:42] colinsurprenant commented on #17
as an example, I am including the backtype.storm.tuple.Values class in the `spec/red_storm/dsl/tuple_spec` (in v0.6.6 branch and forward).

I am first requiring the jars in spec_helper.rb with

[code]

this is equivalent to specifying the jars in the classpath.

then including the Values class

[code]

[2013-06-20 15:45] colinsurprenant opened #85 "cleanup classpath setup java classes loading"
this is a bit all over the place and there is code duplication for stuff like

[code]

I think the classpath setup, java classes & jars loading should be handled in the environment setup using $CLASSPATH  instead of passing the -cp arg in the Application class.

this would simplify setting up the environment for topology testing like in the redstorm-starter project.

[2013-07-02 16:59] colinsurprenant commented on #23
https://github.com/colinsurprenant/redstorm-starter/

pretty trivial but will add a bit more, like gem usage.

[2013-07-02 16:59] #23 closed, assigned to colinsurprenant

[2013-07-02 17:01] colinsurprenant commented on #17
I have created a redstorm-starter https://github.com/colinsurprenant/redstorm-starter/ project which include example specs for bolts and complete topology.

[2013-07-02 17:01] #17 closed, assigned to colinsurprenant

[2013-07-02 17:04] colinsurprenant commented on #11
I created the redstorm-starter https://github.com/colinsurprenant/redstorm-starter/ project which provides example specs for bolts and complete topology using the Storm testing API.

[2013-07-02 17:04] #11 closed, assigned to colinsurprenant

[2013-07-02 19:37] kb commented on #11
Really helpful! I'll let you know if I run into any issues.

[2013-07-03 17:24] #76 closed, assigned to colinsurprenant

[2013-07-04 01:04] colinsurprenant opened #86 "jars in gems"
There seems to be a classloading issue for jar included in gems, as reported in issue #81. Verify if this is specific to `java.sql.DriverManager` or problematic for all classes in gem jars.

Also, building the cluster topology jar will result in including the gem jars into the cluster topology jar. jar-in-jar typically don't work but since this is within the JRuby context which calls `require` on

[2013-07-04 01:06] colinsurprenant commented on #81
Sorry for the delay. I just spent some time trying to understand the issue here.

There is clearly something fishy going on at the Java classloading level within Storm at the workers which screws the java.sql.DriverManager but I can't seem to pinpoint the problem yet. I can't reproduce the problem outside the Storm context either.

The temporary workaround is to copy `target/gems/gems/jdbc-postgre

[2013-07-04 05:12] colinsurprenant commented on #81
Actually nothing to do with Storm, its basically a deficiency in DriverManager «DriverManager will only find drivers on the JVM's system classpath» and the driver is actually loaded from JRuby classloader - all explained here https://jira.codehaus.org/browse/JRUBY-7174

Another workaround which does not imply copying the jar is to directly use the driver instead of going through the DriverManager:

[2013-07-04 05:13] #81 closed, assigned to nobody

[2013-07-04 05:18] colinsurprenant commented on #86
specific to `java.sql.DriverManager` and jars in gems are correctly loaded on `require`. Note that classes loaded by the JRuby classloaded will not be visible to a Java container or any code which uses the system classloader.

[2013-07-04 05:18] #86 closed, assigned to nobody

[2013-07-25 20:09] bf4 opened #87 "License missing from gemspec"
Some companies will only use gems with a certain license.
The canonical and easy way to check is [via the gemspec](http://docs.rubygems.org/read/chapter/20#license),

via e.g.

[code]

Even for projects that already specify a license, including a license in your gemspec is a good practice, since it is easily
discoverable there without having to check the readme or for a license file. For example,

[2013-07-25 20:22] colinsurprenant commented on #87
excellent headsup, fixed! :)

[2013-07-25 20:22] #87 closed, assigned to nobody

[2013-07-25 21:21] bf4 commented on #87
Awesome, thanks!

[2013-07-29 18:49] colinsurprenant opened #88 "spout/bolt config should use ComponentConfigurationDeclarer"
ComponentConfigurationDeclarer exposes specific config method for spout/bolt components. they currently use the same Config object as the topology config.

for example

`num_tasks N` does not work in the topology bolt definition and it should.

a work around is to use the related config attribute: `set "topology.tasks", N`

[2013-08-21 19:13] kb commented on #78
Merged into master and appears to be in the current WIP release https://github.com/nathanmarz/storm/pull/567

[2013-08-21 22:45] colinsurprenant commented on #78
nice!

[2013-10-29 01:40] chris-downs opened #89 "Cannot expand ~"
In redstorm v0.6.6 our topology dies when it hits include 'red_storm' due to the use of the tilde shortcut at this line of environment.rb:

50: DEFAULT_STORM_CONF_FILE = File.expand_path("~/.storm/storm.yaml").

Edit: To be clear, the topology submits fine from the local machine, the failure occurs inside of the JVM when storm initializes the JRuby spout and bolts.

2013-10-28 22:58:43 util [ERROR

[2013-10-29 03:13] colinsurprenant commented on #89
Thanks for the report. This is clearly an issue and this path in not even required upon topology initialization, it is only used for submission.

I guess a workaround would be to make sure there is a $HOME set in the environment running the Storm cluster. Can you verify this?

[2013-11-14 16:56] airhorns commented on #89
@chris-downs did you end up figuring this one out?

[2013-11-14 20:52] airhorns commented on #89
Turns out my problem was cause of runit (whoopth). Since runit descends from the init process it has no environment at all. Just had to export the HOME var before running the storm binary. We use chef to manage our runit services so here's what mine looks like:

[code]

which when compiled looks something like

[code]

[2013-11-20 01:53] colinsurprenant commented on #89
eh! thanks for the followup! I will keep the issue open to remove the useless dependency on $HOME / ~ upon topology initialization.

[2014-01-11 11:32] benoist commented on #46
any news on this?

[2014-01-14 14:20] Rockyyost opened #90 "InvalidLocaleData"
I'm having an issue with loading a YAML file in Redstorm. When I add the mongoid gem, active support gets added too and when running a topology, I get the following error:

org.jruby.exceptions.RaiseException: (InvalidLocaleData) can not load translations from /Users/Dev/Documents/Projects/Nightingale/storm/target/gems/gems/activesupport-3.2.16/lib/active_support/locale/en.yml: java.lang.NoSuchMet

[2014-01-14 15:54] colinsurprenant commented on #90
It is a known snakeyaml conflict between JRuby and Storm, see issue #78 and the workaround is also documented in the README at https://github.com/colinsurprenant/redstorm#known-issues

Let me know if that help you solve it!

[2014-01-14 16:02] colinsurprenant commented on #46
unfortunately not much but will reserve some time on this in the next few weeks.

[2014-01-14 16:08] Rockyyost commented on #90
Thanks for your reply. I tried the workaround, and unless I've implemented it wrong, I'm still getting the error.

I created the storm_dependencies.xml, copied your code into and then saved the file in the ivy folder where ivy-2.3.0 is.

Was that correct? Is there another step I missed?

Thanks!

[2014-01-14 17:15] colinsurprenant commented on #90
you should delete the `target/` directory and redo a `redstorm install` after having updated your `storm_dependencies.xml`.

let me know if that works.

[2014-01-14 17:39] Rockyyost commented on #90
That did it! Thank you so much for your help!

[2014-01-14 17:39] #90 closed, assigned to nobody

[2014-01-14 18:19] colinsurprenant commented on #90
Great! It should be better documented.

[2014-01-14 18:23] colinsurprenant opened #91 "document that a rebuild is required when changing dependencies"
as per #90

[2014-01-21 15:19] Rockyyost opened #92 "java.lang.OutOfMemoryError: PermGen space"
I keep running into this issue. After a few seconds of running the Topology in local mode, red storm errors out and give me this: java.lang.OutOfMemoryError: PermGen space

I don't think I've got that much data running through this yet, is there something I need to do remove old tuples or something to keep this down?

Thanks for your help!

[2014-01-21 15:27] colinsurprenant commented on #92
Frankly I have not witnessed OutOfMemoryError yet. It is very hard to diagnose the cause of your OutOfMemoryError without analyzing your topology. Are you using "reliable" emit without acknowledging your tuples? If memory is tight and your tuples rate is high that could trigger it. Which JRuby version are you using?

[2014-01-23 16:02] Rockyyost commented on #92
I'm not using reliable emit and in all my bolts I have on_receive :emit => false, :ack => true, plus I manually emit tuples that should go to the next stream and ack those that should not.

I think, however, that I've narrowed it down to Mongoid. When I comment-out any updates or saves (it's mainly on updates as I don't have that many saves) things flow through without issue.

Do you have any expe

[2014-01-23 21:48] colinsurprenant commented on #92
Ok. That should not impact memory but you shouldn't have to ack tuples that are not emitted using "reliability".

No, I haven't used Mongoid.

What is your JVM max heap size? (-Xmx)

What JVM & JRuby version are you using?

Colin

[2014-01-24 02:56] Rockyyost commented on #92
My JVM max heap size is Xmx2024m
And I'm using Java 1.7.0_45 with jruby-1.7.8

Thanks,
Rocky

[2014-01-24 18:50] colinsurprenant commented on #92
Well, there's nothing obviously fishy, so it's kind of hard to help diagnose the source of the problem. From what you describe, our best shot is with Mongoid. Could it be related to the identity map stuff?(http://mongoid.org/en/mongoid/docs/identity_map.html). There seems to be lots of memory related issues with that.

Otherwise, you could create a minimal topology which reproduces the problem and

[2014-01-24 22:40] Rockyyost commented on #92
I'm not using identity map, but I tried using Moped instead (Mongoid uses Moped) and it works! I'd ideally like to use Mongoid, so I'll reach out to them to see if they might have any insights, but at least I can move forward with Moped.

Thanks for all your help Colin!

[2014-01-25 00:22] colinsurprenant commented on #92
right. but seriously if you can craft a minimal topology which reproduces the problem i'd really like to investigate a bit because given the popularity on Mongo, it will probably happen again!

[2014-01-26 17:21] Rockyyost commented on #92
Okay, I will. But I don't think it's Mongoid anymore, because now the same thing is happening when I try to use Net::HTTP. I think there's something fundamental I'm not getting or haven't set right.

With one run of the topology, after a few seconds of it working, I'll get some of these:
Exception: java.lang.OutOfMemoryError thrown from the UncaughtExceptionHandler in thread "main-EventThread"

A

[2014-01-27 20:06] Rockyyost commented on #92
Hey Colin,
I've got a simple-ish Topology for you to look at. I put Mongoid back in too. Because so much of this depends on the data we have, I've had to create a smallish development database for this, with the needed data pre-loaded, to avoid having you mess with setting things up, I've included a mongoid.yml file too.

What's the best way to get this to you?

Thanks!

[2014-01-28 04:16] Rockyyost commented on #92
Do you know how I'd increase the redstorm.TopologyLauncher's PermGen? It seems to be set at 82m currently, and while I can set the JVM's and JRuby's PermGen, it doesn't seem to effect redstorm.TopologyLauncher. I was using Visual GC to see if I can spot what was taking up what and I noticed that all of my attempts at setting the PermGen JRuby application that starts first and I think that's what s

[2014-01-29 18:51] colinsurprenant commented on #92
So, you could gist the files, and for the data, on dropbox?

Also, did you take a look at the Storm UI

Right, so, the PermGen setting is global to the JVM and thus your JRuby code will run in the context of the JVM which can be configured using the `topology.worker.childopts` options. You can set JVM options  in your topology configuration with something like this for example:

[code]

[2014-01-29 18:55] colinsurprenant commented on #92
Also, I forgot to ask, did you use the Storm UI to see if tuples were getting backed up "behind" a slower bolt?  Depending on your `max_spout_pending` setting, this could explain memory filling up.

[2014-02-16 05:59] Rockyyost commented on #92
Hey Colin! Sorry I haven't gotten back to you sooner. As a hunch, I ran my topology under Java 1.8 and worked fine. It know it's only in beta and still need to figure my issue out, but for the time being, I was able to continue my work.

I will get a topology to you soon.

Is the SnakeYAML still an issue? Also, I now have a test Storm cluster up, and I tested it by pushing one of your example and

[2014-02-24 19:52] JoshdotNew opened #93 "Storm Topology in Production"
I am trying to run my storm topology on a server with a storm cluster and the topology doesn't run. Any quick ideas or checks? It works fine in development.

[2014-02-25 03:43] colinsurprenant commented on #93
you should be able to retrieve any exception from the log files. you can also use the UI which should report any exception in any bolt/spout. did you try to submit a very simple topology that does not require any particular dependency? make sure you can do that first. If you can't submit a simple topology then we are probably looking a config problem, did you setup a `~/.storm/storm.yaml` file?

[2014-03-03 02:22] colinsurprenant commented on #46
I just pushed 0.7.0.beta1 which includes Trident examples in `examples/trident`. This is mainly using the Java API, a bit more work will be required to make this a bit cleaner, but it works!

Let me know what you think!

[2014-03-03 10:59] benoist commented on #46
Looks good!
Is it also possible to create a custom aggregator instead of the built-in Sum and Count?

[2014-03-03 15:09] colinsurprenant commented on #46
Yes it will shortly. Just need to create the Java proxies for all the `storm.trident.operation.*` interfaces ... for now only `Function` has been done.

[2014-03-03 15:10] benoist commented on #46
Ok :)
I'll try this week to see how far it will get me with just the Function.

[2014-03-24 22:37] ismith commented on #46
It'd be great to see example spec tests for a Trident topology, either here (testing examples/trident/word_count_topology) or in the redstorm-starter project.

[2014-04-11 23:11] bwalsh opened #96 "newbie question: multiple threads in local mode"
Congratulations on a great project.  I was able to get it up in running in a few hours.

One question:  In local mode, should I see some degree of parallelism?
All my bolts are logging with the same thread id

[code]

[2014-04-15 01:14] colinsurprenant commented on #96
@bwalsh absolutely, all Storm paralelism controls works in local mode. Here are a few pointers to better understand the wait it works:
https://github.com/nathanmarz/storm/wiki/Local-mode
https://github.com/nathanmarz/storm/wiki/Understanding-the-parallelism-of-a-Storm-topology

you can check in the examples but here's a sample:

[code]

Let me know if you can make it work for you or if you have an

[2014-04-15 01:18] colinsurprenant commented on #93
have you finally been able to make it run/find the problem?

[2014-04-15 01:21] colinsurprenant commented on #92
hey, reviewing pending issues, where are we with regard to this? let me know if you are still having issues.

[2014-04-15 04:07] Rockyyost commented on #92
I upgraded to Java 8. That to care of the problem. I haven't tried again on 7 and I don't really plan to, since it's working really well now.

Thanks!

Sent from my iPad

[2014-04-15 21:35] bwalsh commented on #96
Thanks very much for the quick response.  Changing the source of the bolt from :global to :shuffle worked.

[code]

[2014-04-15 21:35] #96 closed, assigned to nobody

[2014-04-24 19:51] fmiller10 opened #97 "Getting Started - Offline Mode"
1.  Though I was able to get RedStorm installed and HelloWorld up in an ONLINE environment, running "jruby -S redstorm install' in my project directory in an OFFLINE mode, results in expected unknown host exceptions.
2.  Is there a way to (a)  install redstorm gems and (b) "install" (acquire and compile) my redstorm projects with no internet access?

Thanks in advance and I'm also new to Ruby and

[2014-04-25 13:55] fmiller10 commented on #97
Looks like after my first online redstorm install, I can transport the target directory to an offline system with the same env and run my topologies.

[2014-06-13 20:11] tlrobinson opened #99 "No way to call methods on bolts/spouts in the topology DSL"
There doesn't appear to be a way to call instance methods on bolts or spouts in the DSL, e.x. as is required here: https://github.com/ptgoetz/storm-jms/blob/master/examples/src/main/java/backtype/storm/contrib/jms/example/ExampleJmsTopology.java#L63-L67

Perhaps the instance should be passed to the block, so you can do something like this:

[code]

[2014-06-16 18:35] colinsurprenant commented on #99
thanks for your suggestion @tlrobinson. yes, this is an interesting caveat with the way I imagined the dsl and the use-case you refer to. I will need to think about this a bit.

A temporary workaround could be to write a simple Java spout wrapper class that initializes itself correctly and that you could use as-is in the JRuby DSL? Or you could try the same idea but with a JRuby wrapper spout clas

[2014-06-16 19:29] tlrobinson commented on #99
That's basically what I'm trying to do, however I'm getting a somewhat opaque error message about `undefined method 'java_proxy'`. Maybe you could offer some guidance:

[code]

Here's basically the code I'm running:

[code]

It needs (some of?) these dependencies:

[code]

[2014-06-16 20:28] colinsurprenant commented on #99
The problem is here: https://github.com/colinsurprenant/redstorm/blob/master/lib/red_storm/dsl/topology.rb#L46

Since `MyJmsSpout` is a actually Ruby class and not a Java class, it tries to initialize it using the spout java proxy which is required because Ruby classes are not java-serializable.

So what can we do. Well, you could write  `MyJmsSpout` in Java, which would be very simple and do basi

[2014-06-17 23:50] colinsurprenant commented on #99
I think we could make it work the way you suggested with

[code]

by creating the spout/bolt instance in the self.spout/bolt methods and passing the instance to the block, instead of delaying the instance creation at topology build. I'll create a branch shortly you can test.

The potential caveat is that the spout/bolt block is already called in the configurator context but I'm guessing that you w

[2014-06-18 18:41] jakekdodd opened #100 "Broken example Kafka Topology"
I tried running the example Kafka topology with the suggested additions to the topology_dependencies.xml, but the dependencies are out of date.

I was, however, able to make some changes that got RedStorm and the Kafka topology working with storm-0.9.1-incubating and kafka_2.9.2-0.8.1.1. Would you be interested in a fork and pull request to update the suggested topology_dependencies.xml? Also, may

[2014-06-19 16:17] colinsurprenant commented on #100
Yes! I would definitely appreciate this. Thanks in advance for taking the time to contribute this!

[2014-06-19 16:23] colinsurprenant commented on #100
For the record, another user reported some success with these dependencies:

[code]

[2014-06-19 16:48] jakekdodd commented on #100
Awesome, that's almost identical to the dependencies that I added, with the exception of Kafka 0.8.1.1 instead of 0.8.0.

Also, I was getting a java.lang.NoClassDefFoundError: com/yammer/metrics/Metrics error at runtime, so I needed to explicitly add the com.yammer.metrics dependency:

[code]

This seems to me like a bug with the Kafka repo, since both 0.8.0 and 0.8.1.1 explicitly depend on com.ya

[2014-06-19 16:52] colinsurprenant commented on #100
Great stuff. thanks again!

[2014-06-25 21:22] tlrobinson commented on #99
That would be fine. I'm not sure I understand the caveat you mentioned though.

[2014-06-27 18:09] tlrobinson commented on #99
In the meantime, I've gotten a JMSSpout subclass working, but where would you recommend storing Java source files? Currently I have it in `target/src/mycompany/storm/JmsSpout.java`, which works fine, but as I understand it the `target` directory isn't supposed to be checked into source control.

[2014-06-28 21:44] colinsurprenant commented on #99
You can put java sources under `src/main/` and use `rake build` to compile them and you should just be able to use them the same way as putting your classes in the `target/` dir. I did make some progress with the refactor today while on the train (currently traveling in Europe) and I should be able to push a branch so you can test.

[2014-06-30 19:35] tlrobinson commented on #99
Thanks. What do I need to do to set up Rake to build from `src/main`? I'm getting `Don't know how to build task 'build'`

[2014-07-15 20:06] ismith opened #102 "Gems should be vendored for spec tests"
One way to do this would be to run `redstorm bundle development`, but probably better is to add .bundler/config with

[code]

and then you can just `bundle install ; bundle exec rake spec` as usual.

[2014-07-16 00:16] ismith commented on #89
I didn't notice this before I submitted #105, which should fix the bug; not sure how you want to handle combining these two issues, or just close one and merge the other.

[2014-07-19 22:53] colinsurprenant commented on #102
yes, that's what I personally do, add this `~/.bundler/config`. we should document it.

[2014-07-19 23:25] colinsurprenant opened #106 "add a cleaner topology dsl construct for submit_options paramters"
as a followup to #104

I'd like to have a better way than `TopologyInitialStatus.valueOf('INACTIVE')` to specify submit options.

[2014-07-25 01:47] arielvalentin opened #107 "LoadError when referencing Spouts/Bolts packaged in a gem"
I tried to write a set of bolts/spouts with the intent of sharing them in multiple topologies. I chose to package them in gems and then reference them in a different project, however the topology fails to load the components when the target project packages additional directories in the jar. I have created a sample project to help reproduce the error here: https://github.com/arielvalentin/redstorm

[2014-07-25 01:57] arielvalentin opened #108 "Omit Signature Files From Dependent JARs"
I am trying to include a JAR that was signed by the author, however the redstorm jar task does not exclude [signature files|http://docs.oracle.com/javase/6/docs/technotes/guides/jar/jar.html#Signed%20JAR%20File], which results in an SecurityException:

``` xml```
<?xml version="1.0"?>
<ivy-module version="2.0" xmlns:m="http://ant.apache.org/ivy/maven">
  <info organisation="redstorm" module="topol

[2014-07-25 02:15] arielvalentin opened #109 "Allow adding arbitrary resources to cluster-topology.jar"
I would like to add arbitrary resources to the jar and load them with Guava's Resources API. I created a bolt that tries to load a resource as part of it's init block:

``` ruby```
on_init {
Java::ComGoogleCommonIo::Resources.get_resource('resources/abc.txt')
      }
[code]

However when I try to run the topology in local mode:

``` bash```

[code]

I would also like to be able to specify where re

[2014-07-25 02:28] arielvalentin opened #110 "Switch Logger To SLF4J"
Storm has moved to [SLF4J with logback|http://storm.incubator.apache.org/2013/12/08/storm090-released.html], however Redstorm uses the Log4J API. I would like to be able to use SLF4J API instead of any specific implementation in my topologies.

[2014-07-25 02:43] arielvalentin opened #111 "Support Logging Named Hierarchies"
When trying to configure logback system I am unable to use the named hierarchy feature because they use dots, however Ruby class names have double colons:

``` ruby```
@log ||= Java::OrgSlf4j::LoggerFactory.get_logger(self.name)
[code]

Then then one could register the loggers like this:

``` xml```
  <logger name="Example.Project" >
    <appender-ref ref="ASYNC_SYSLOG"/>
  </logger>
[code]

[2014-07-25 02:59] arielvalentin opened #112 "Support for bundler/setup"
This is just a placeholder for exploration. Right now redstorm sets paths and environment variables in order to resolve where gems are installed. It would be nice to just be able to use bundler/setup along with standalone bundled directories; however I have no clue how much effort it would be to get that working.

[2014-07-25 03:02] arielvalentin opened #113 "Support for Ruby autoload"
I tried to use Ruby autoload when creating modules in my topology however I run into LoadErrors because the LOAD_PATH does not seem to include the packaged "lib" directory. I tried adding the directory manually but it does not work in the cluster.

[2014-07-25 15:20] colinsurprenant commented on #107
Thanks for making this reproducible. Not sure what is going on but shouldn't be too hard to figure out.

[2014-07-25 15:25] colinsurprenant commented on #108
Ok, thanks for reporting and pointing to the relevant docs. I guess it should be as easy as excluding those files when re-jarring, will test.

[2014-07-25 15:31] colinsurprenant commented on #109
Thanks. Yeah, supporting both jar/local contexts is a bit challenging, but I believe this should be an easy fix.

[2014-07-25 15:41] colinsurprenant commented on #110
Absolutely, thanks for pointing that out.

[2014-07-25 15:44] colinsurprenant commented on #111
Again(!) thanks for the hint!
relates to #110

[2014-07-25 15:56] colinsurprenant commented on #112
Sure, I'm all open to enhancing the the whole gem/bundling experience, it clearly could work better.
relates to #70 last comment.

Also as you mentioned by email, we could also take a look at warbler. There's also maybe JBundler - @mkristian is doing really nice work on the JRuby gem/jar front, maybe he can chime in and/or offer some directions.

[2014-07-25 16:14] colinsurprenant commented on #113
ah, never tried using autoload in a topology, will have to trace the problem. so it works in local but not in cluster?

[2014-07-25 16:39] arielvalentin commented on #113
I did not try in local mode. I'll give that a try and let you know.

Thanks,

## Ariel

Sent from my mobile device. Please excuse any errors.

[2014-07-26 08:35] mkristian commented on #112
thanx for including me - I just briefly browsed over the RedStorm docu.

for jruby-1.7.14 (next release to come) it will be possible to reduce the installation to

[code]

and it will install all jar dependencies declared in redstorm.gemspec (assuming all jar dependencies are on maven central). dito it will work via bundler.

this means

[code]

will only compile your java files. any particular re

[2014-07-27 14:09] benmoss opened #114 "Tick tuple config not working"
I found @colinsurprenant's answer for how to implement the tick tuple [here](http://stackoverflow.com/questions/22547705/implement-storm-tick-tuple-in-redstorm-dsl), but it no longer seems to work.

I just get `org.jruby.exceptions.RaiseException: (NameError) uninitialized constant Java::BacktypeStorm::Config::TOPOLOGY_TICK_TUPLE_FREQ_SECS`. I've tried to debug this and reflect on the class, and w

[2014-07-29 19:45] svrana opened #120 "Update Storm dependency to .9.2-incubating"
I currently have a .9.2-incubating storm cluster but have topologies built against .9.1-incubating. This leaves something to be desired, so I'm hoping to be able to update redstorm (and my topologies) to build against Storm .9.2-incubating.

The first thing I noticed after upgrading to build against .9.2-incubating was a method signature change to the StormSubmitter.submitTopology. It now takes a

[2014-07-29 23:58] svrana commented on #120
Having problems getting my topology unit tests to pass after upgrading to have them build against .9.2; Storm is timing them out after 5 seconds. The error message looks like this: Java::JavaLang::AssertionError:Test timed out (5000ms) This is just too short on my aging laptop (and on our Jenkins boxen, for that matter). Fortunately the timeout was made configurable here: https://github.com/apache

[2014-07-30 04:57] colinsurprenant commented on #120
thanks @svrana for your feedback on this.
it is a bit puzzling as of why they didn't just keep the `submitTopology` method signature without the `ProgressListener` and just add another signature with the `ProgressListener`. Weird.
I just reviewed the 0.9.2 announcement and there does not seem to be any api changes so it should just work.

[2014-07-30 05:01] ismith commented on #120
"it is a bit puzzling as of why they didn't just keep the submitTopology method signature without the ProgressListener and just add another signature with the ProgressListener. Weird."

Maybe it's worth opening a https://issues.apache.org/jira/browse/STORM ticket?  Seems regression-like to me.  (I don't have an Apache Jira account, although I could open one next week and file.)

[2014-07-30 06:27] colinsurprenant commented on #120
agree. will try if I have time tomorrow before my flight...

[2014-07-30 06:34] colinsurprenant opened #121 "add tests for improved resources handling by #117"
as discussed in #117

[2014-07-30 06:54] colinsurprenant commented on #114
hmm... not sure but this is maybe a version incompatibility, I don't remember with which version I tested this but it might have been with the 0.7.0.beta1. do you think you could test this with this version?

[2014-07-31 19:21] arielvalentin commented on #112
@mkristian the maven dependencies sounds really interesting! I am excited to give that a try. Does that also extend to bundler Gemfiles or will I always have to release a gem?

[2014-08-01 13:11] mkristian commented on #112
if the jar-dependencies is part of jruby (it is on current jruby-1_7
branch) then this works with gem declared inside Gemfiles since bundler
obeys the post_install hooks of Rubygems.

[2014-08-01 13:22] arielvalentin commented on #112
But to clarify this feature only works for gems. E.g. I will not be able to add jar deps in the Gemfile of a Rails app. I will have to have a gem with jar deps. Correct?

[2014-08-01 13:56] mkristian commented on #112
not it is NOT an extension of bundler, just for rubygems, jbundler has the
intention to "add" jar dependencies along site the Gemfile and here you use
a Jarfile for the jar-deps.

or as you mention you can have "meta" gem with only jar dependencies to
keep jbundler out of the picture.

[2014-08-01 13:58] arielvalentin commented on #112
Thank you for the clarification!

Ariel Valentin
e-mail: ariel@arielvalentin.com
website: http://blog.arielvalentin.com
skype: ariel.s.valentin
twitter: arielvalentin

## linkedin: http://www.linkedin.com/profile/view?id=8996534

*simplicity *communication
*feedback *courage *respect

On Fri, Aug 1, 2014 at 9:56 AM, Christian Meier notifications@github.com
wrote:

[2014-08-04 13:55] arielvalentin commented on #110
I have run into the Ruby Exceptions aren't Java Exceptions problem. Looks like @dekellum solved this by adding an adapter API in rjack-slf4j https://github.com/dekellum/rjack/blob/dev/slf4j/lib/rjack-slf4j.rb

Should we consider using this approach instead?

[2014-08-05 03:23] arielvalentin commented on #112
@colinsurprenant Per @mkristian suggestion, is publishing redstorm.jar something that you would be amenable to?

[2014-08-07 14:48] colinsurprenant commented on #110
what is the Ruby Exceptions aren't Java Exceptions problem and how did it manifest?

[2014-08-07 15:02] colinsurprenant commented on #112
ah! let me pull in @rtyler who is currently working on refactoring the build & dependency stuff using Graddle.

we were just discussing this on IRC yesterday about publishing a redstorm.jar which would make sense  imo.

[2014-08-08 18:14] rtyler commented on #112
@arielvalentin My work in the redstorm project itself can be found in [my gradle-experiment](https://github.com/rtyler/redstorm/tree/gradle-experiment) branch, with the topology that uses `redstorm.jar` under [redstorm-test-topology](https://github.com/rtyler/redstorm-test-topology).

My primary motivation is to clean up the way in which topologies are generated and reduce the turn-around time it

[2014-08-11 23:53] rtyler commented on #112
@arielvalentin If you're interested in checking out some of the approach, I've validated part of it already with my [jruby-gradle-plugin](https://github.com/rtyler/jruby-gradle-plugin). After I bake that a little more I plan on creating a redstorm-gradle-plugin

[2014-08-12 01:59] arielvalentin commented on #110
I hope these comments make sense. I am exhausted.

[RubyException](http://jruby.org/apidocs/org/jruby/RubyException.html) does not inherit from [Throwable](http://docs.oracle.com/javase/7/docs/api/java/lang/Throwable.html). I used the overloaded error method assuming it was matching [error(string, throwable)](http://www.slf4j.org/apidocs/org/slf4j/Logger.html#error%28java.lang.String,%20java.lang.

[2014-08-12 07:55] mkristian commented on #112
when I first look at redstorm there were two things popping up: the install
process with compiling java code  which I already mentioned.

the second thing which I just want to mention here now is the ivy stuff
which I saw and (with my limited view of the world) it look like that
jbundler and Jarfile could do the same thing. since I am not at all
familiar with redstorm this is just simple thought a

[2014-08-12 10:45] arielvalentin commented on #112
@mkristian there are a few issues we are trying to address.
- Storm requires a single self contained jar file for deployment. Redstorm uses ant and ivy to assemble the jar.
- Redstorm uses JRuby proxies, which are generated with jrubyc then compiled with javac and packaged in the jar.
- Redstorm users who write custom code may also use additional jars but need to be included in the deployment jar.

[2014-08-12 13:17] mkristian commented on #112
@arielvalentin thanx for the little intro ;) now I see where warbler comes into the picture.

Gemspecs and jars you could add `:scope => provided` - maybe leaving provided jars out unless you need them for compiling somehow.

@rtyler just for your info there is the http://rubygems-proxy.torquebox.org/releases/ repo which has all gems (when the platform is jruby compatible) as maven artifacts and g

[2014-08-13 02:08] arielvalentin commented on #112
@mkristian Where may I read more about the gemspec jar integration?
When I use bundler in standalone mode, where are the jars installed?

[2014-08-13 02:10] arielvalentin commented on #112
@rtyler I have not had a chance to look that branch. Is the plan going forward to use gradle instead of rake to build the cluster-topology.jar?

[2014-08-13 02:23] rtyler commented on #112
@arielvalentin The plan right now is for me to experiment with Gradle for managing the builds of redstorm topologies. @colinsurprenant is open to improvements but given I don't have a working prototype it's too early to say what will and will not make it into the redstorm project :)

[2014-08-18 05:34] mkristian commented on #112
@arielvalentin I added some wiki pages: https://github.com/mkristian/jar-dependencies/wiki
maybe you find some answers there

[2014-08-18 15:04] arielvalentin commented on #112
That is very helpful. It reads to me like using jar-dependencies to vendor
jars is very close to what I wanted when I first asked about it on the
jruby mailing list (
http://ruby.11.x6.nabble.com/Maven-dependency-management-td4996934.html).
I wonder what the best way to expand vendor/jars for building
cluster-topology jar.

Ariel Valentin
e-mail: ariel@arielvalentin.com
website: http://blog.arielv

[2014-08-19 10:48] mkristian commented on #112
@arielvalentin - ah I remember - that basically triggered the jar-dependencies project :)

with warbler+jbundler I am going to go this route:
take all the jars from jbundler's Jarfile.lock and copy them into the root of the jar-files or WEB-INF/classes for war-files and use a ruby file "jbundler.rb" to load all those jars into the JRubyClassloader via `require_jar` the "jbundler.rb" is basically t

[2014-08-19 11:48] arielvalentin commented on #112
I think that will work for war files but not sure about jars. I think what we want is the behavior similar to jar-with-dependencies or shaded jar. Is that something jbundler can do?

[2014-08-19 12:23] mkristian commented on #112
there is some feature to pack an all included jar in jbundler - but it
should go away in favour of warbler.

warbler can pack such all included jar - maybe they call it executable jar
not sure. any way warbler also packs jar files !!!

keeping the classloader semantic can be important in some case regarding
the so called default gems which are part of jruby and which have jar
dependencies. current

[2014-08-19 15:38] adamgotterer commented on #114
I believe tick tuples weren't implemented until Storm 0.8.0

[2014-08-19 21:13] adamgotterer commented on #1
I just ran into this same problem on the latest version of redstorm. Is there an up to date work around?

[2014-08-20 12:54] benmoss commented on #114
Yep, that is exactly the problem @colinsurprenant. Works on 0.7.0-beta1.

[2014-08-20 12:54] #114 closed, assigned to nobody

[2014-08-20 18:01] adamgotterer opened #122 "newbie question: How do you change the log or debug level"
I've set my topology debug config to false, but when running tests I'm seeing a ton of debug messages still. Thanks!

[2014-09-02 19:48] dgolombek opened #123 "DSL should warn/error when setting output_fields for java spouts"
The DSL happily pretends to set output_fields for spouts implemented in java, but then drops them on the floor (https://github.com/colinsurprenant/redstorm/blob/master/lib%2Fred_storm%2Fdsl%2Ftopology.rb#L48). We can either try to fix this correctly (check if the spout implements ISchemableSpout or IMultiSchemableSpout and if so set the scheme via it, otherwise give up and raise) or we can just gi

[2014-09-26 03:47] leiz-me opened #125 "ClusterWordCountTopology cannot be run on cluster"
I am trying to use redstorm in the production cluster mode.

The setup is looking like this:

Started nimbus/supervisor/ui on my local Mac to simulate production cluster.

And follow the instructions of redstorm that "redstorm jar examples" and "storm jar" to send the topology to cluster.

Error message shows that "RedStorm::Configuration.topology_class.new" has only one arguments for 2.

The meth

[2014-11-04 15:42] rtyler commented on #108
FWIW, I hit this with the [jruby-gradle/jruby-gradle-storm-plugin](/jruby-gradle/jruby-gradle-storm-plugin) work that I've been doing, it's pretty simple in Gradle to handle this, see [this shadowjar configuration](https://github.com/jruby-gradle/jruby-gradle-storm-plugin/blob/master/src/main/groovy/com/github/jrubygradle/storm/JRubyStormPlugin.groovy#L36).

The jruby-gradle-storm-plugin does depe

[2014-12-06 08:20] crax opened #127 "how to use multiple stream"
Hi,

I haven't found a way to use multiple stream in RedStorm, is it supported or not?

Thanks for any help.

[2015-01-27 00:52] relwell commented on #120
Did anything ever happen on this one? It looks like they reintroduced this API in 0.9.3, so I'm wondering if it makes sense to keep this open?

[2015-04-22 15:30] aliekens commented on #92
I just started bumping into this exact same problem, but not related to Mongoid. Apparently, the JVM keeps track of all instantiated classes, forever. With dynamically generated classes (in JRuby or Groovy or others), all these classes defined at runtime incrementally take up space in the "PermGen" space, thus leaking memory until the "java.lang.OutOfMemoryError: PermGen space" effectively kills t

[2015-04-23 09:46] aliekens commented on #92
Moving to Java 1.8 resolved my issue as well.

[2015-05-22 15:17] Geokoumpa opened #130 "How to configure"
Hello, can you please explain how I can change an option not under the topology namespace? For example how could someone change "storm.zookeeper.session.timeout"

If not internally, where should I create a storm.yaml as advised in the storm docs?

thak you,

G

[2015-05-25 23:29] sokratisg opened #131 "offsets missing from zookeeper in kafka-topology"
Hi,

I tried running your kafka-topology example but unfortunately I cannot make the offsets appear under "/kafkaspout" path in zookeeper.

I created the zk node prior running my tests using zkCmd "create /kafkaspout null" and I can see the node created with null data. Unfortunately no node offsets are added after the spout runs for a while  and starts committing offsets.

Is there any possibility

[2015-06-19 12:47] cmw commented on #107
Are there any pointers on this topic? I'm facing the same issue with two bolts, defined inside my topology file. It complains that it can't load the topology file itself to instanciate the bolts (but it obviously works fine for the topology).

[code]

[2016-11-07 08:54] s8186255 opened #132 "when to support jruby9000"

[2017-11-22 19:36] #100 closed, assigned to nobody

[2019-07-24 16:21] #113 closed, assigned to colinsurprenant

[2019-07-24 16:21] #112 closed, assigned to colinsurprenant

[2019-07-24 16:21] #111 closed, assigned to colinsurprenant

[2019-07-24 16:21] #110 closed, assigned to colinsurprenant

[2019-07-24 16:21] #109 closed, assigned to colinsurprenant

[2019-07-24 16:22] #108 closed, assigned to colinsurprenant

[2019-07-24 16:22] #107 closed, assigned to colinsurprenant

[2021-01-05 07:04] #125 closed, assigned to nobody

[2022-06-19 00:00] #120 closed, assigned to colinsurprenant